<div class="wrapper">
    <p>
        Department emails can be found on our
        <a routerLink="/contact">contact page</a>.
    </p>
    <div class="social-container">
        <a
            href="https://twitch.tv/RPGLimitBreak"
            [innerHtml]="icons.twitch | sanitizedHtml"
        ></a>
        <a
            href="https://youtube.com/@RPGLimitBreak"
            [innerHtml]="icons.youtube | sanitizedHtml"
        ></a>
        <a
            href="https://discord.gg/rpglb"
            [innerHtml]="icons.discord | sanitizedHtml"
        ></a>
        <a
            href="https://twitter.com/RPGLimitBreak"
            [innerHtml]="icons.twitter | sanitizedHtml"
        ></a>
        <a
            href="https://bsky.app/profile/rpglimitbreak.bsky.social"
            [innerHtml]="icons.bluesky | sanitizedHtml"
        ></a>
        <a
            href="https://instagram.com/rpglimitbreak"
            [innerHtml]="icons.instagram | sanitizedHtml"
        ></a>
    </div>
    <p class="dim">&copy; {{ currentYear }}. RPG Limit Break, LLC.</p>
</div>
