<div class="main-content">
  <h1 class="title">RPGLB 2024 Game Selection Criteria</h1>

  <h2>Length</h2>
  <p>This will be a 6 1/2-day marathon (running roughly from noon on 5/19 to 9PM the night of 5/25, for about 153 total hours). We want to have as much variety on the schedule as possible (both for games and runners), so 6+ hour runs will need to be very strong in the below areas.</p>

  <h2>Donation Incentives</h2>
  <p>What we’re here for (along with having a fun week)! Can you name characters? Are there storyline branches/character choices/optional bosses that work in a speedrun route? Are there in-jokes in the game that fans would donate to see (i.e. the Phantom Train Suplex)? Strong donation incentives will be especially important for longer runs. Donation incentive submissions will be combined with game submissions, but additional incentives can always be offered later. Please submit as many donation incentives as you are willing to do - creativity is very welcome! If your run is accepted we will also let you know which incentives are accepted.</p>

  <h2>Entertainment</h2>
  <p>Does the run have interesting tricks/strategies that make for engaging commentary? Is there variety in the gameplay throughout the course of the run? What is the cutscene to action ratio like?</p>

  <h2>Game Popularity</h2>
  <p>One of the purposes of RPGLB is giving RPGs that aren’t popular enough to make a Games Done Quick schedule a chance in the spotlight; but at the same time we want to have games on the schedule that a decent chunk of our audience has heard of and will stick around for. More obscure games also tend to have difficulty getting commentators besides the runner; and having strong run commentary is a big focus for RPGLB.</p>

  <h2>Marathon Safety</h2>
  <p>How consistently can your run be finished within the estimate you give? How big of an impact does randomness have on the run? How likely would it have to be mercy killed to prevent going significantly over estimate?</p>

  <h2>Language</h2>
  <p>As our main audience is going to be English-speakers, English text is generally preferred over Japanese or other languages, especially for text-heavy games. This will be less of a concern for games with skippable cutscenes and/or where the speedrun is easy to follow through animations and other non-text means. Voice acting in non-English languages is always fine, and if selectable can make for a good donation incentive.</p>

  <h2>Recency</h2>
  <p>How recently has your game been featured in an RPGLB event (annual main charity events only - online community events hosted on the RPGLB Twitch channel, such as Questing for Glory, do NOT count towards this criteria)? If it’s been in a previous event, does the game have new routing/strategies, or does your submission offer any new run categories/donation incentives?</p>

  <h2>Personal Best</h2>
  <p>If your game has a community leaderboard, how close is your personal best to the fastest times? It is NOT expected for RPGLB runners to be record holders or close (especially given that the fastest speedruns of many RPGs use routes/strategies that aren’t marathon safe); but having a strong personal best makes for a stronger submission. For co-op run submissions, the individual personal bests of all submitters will be looked at by the committee (since it may fall to any of them to do the run solo if co-op partners later withdraw).</p>

  <h2>Location</h2>
  <p>Onsite run submissions will be favored over remote run submissions, but remote runs that are strong in the other criteria on this list will also be accepted. After the schedule is released, requests to change accepted runs from onsite to remote will be considered on a case-by-case basis. Requests to change from remote to onsite will always be accepted.</p>

  <h2>Availability</h2>
  <p>Runners with open availability (most or all days the week and/or most or all times of day) will be favored over runners with limited availability (few days of the week and/or few hours per day). Willingness to run overnight (12AM-8AM Mountain Daylight Time/GMT-6) is especially appreciated.</p>

  <h2>Submission Video</h2>
  <p>All submissions should include a video of you doing a run of your game &amp; category within your estimate. It’s fine to use either your personal best video or a specially recorded submission video - do whatever you feel makes a stronger pitch for your run. Age of submission video is a factor in committee decisions - it’s generally preferred for submission videos to be less than 3 years old, but older videos will still be considered.</p>

  <h2>Console/PC Hardware</h2>
  <p>It is expected that all console-based games will be run on original console hardware (official digital ports such as VC/PSN are fine, as are flash/reproduction cartridges). PC-based emulators (BizHawk, SNES9X, ePSXe, etc) are acceptable for submission videos, as long as runners will be prepared to run the game on console/official digital port at the marathon (including making any needed arrangements for a controller &amp; cartridge/disc). This expectation applies to remote runs as well as onsite runs.</p>
  <p>RPGLB staff will have common NTSC-U SD consoles on hand for the stream room, though it’s recommended for runners to bring their own for practice. Any SD console requiring a mod to produce an RGB feed must be provided by us, unless the runner has a similarly modified personal console. Otherwise, runners are free to play on their hardware, or the ones provided by us. The list of consoles we personally provide are the following:</p>
  <ul>
    <li>RGB modified NES</li>
    <li>SNES</li>
    <li>Genesis Model 2</li>
    <li>PS2</li>
    <li>RGB modified N64</li>
    <li>GBI modified GameCube</li>
  </ul>
  <p>Any other SD consoles are not provided by us, and if your console doesn’t natively support RGB output, we will be in contact to discuss capture options.</p>
  <p>For HD consoles, it is expected for runners to bring their own consoles to ensure no installation/patching/load time issues.</p>
  <p>For PCs, we have equivalent systems available for the stream and practice rooms. The specs are as follows:</p>
  <ul>
    <li>MSI Motherboard</li>
    <li>AMD Ryzen 7 5800X 3.8 GHz 8-Core CPU</li>
    <li>32GB DDR4-3200 RAM</li>
    <li>EVGA GeForce RTX 3060 12GB GPU</li>
    <li>HP X500 Mouse</li>
    <li>NPET K10 V3-RGB Keyboard</li>
  </ul>

  <hr>
  <p>Defining what is/isn’t an RPG is something we do not attempt - our goal is to produce a schedule of games that appeal to fans of the RPG genre; and the RPGLB games committee decides on a case-by-case basis which offered games are/aren’t good fits for our marathon. We wish you the best of luck in your submissions!</p>
</div>