<div class="wrapper">
	<img class="logo" src="assets/images/logo_1200x424.png" />
	<div *ngIf="speedrunEvent?.state==='pre'">
		<h1 class="home-title">RPG Limit Break returns this July!</h1>
		<div class="timeline"><app-timeline></app-timeline></div>
		<p>
			{{event}} will take place in Salt Lake City, Utah, continuing to benefit the
			<a href="https://www.nami.org" _target="blank">National Alliance on Mental Illness.</a> The event will take place July 16th to
			July 22nd, at the <a href="https://doubletree3.hilton.com/en/hotels/utah/doubletree-by-hilton-hotel-salt-lake-city-airport-SLCARDT/index.html" target="_blank">DoubleTree by Hilton - Salt Lake City Airport</a>, and will be
			a hybrid event with options to participate remotely. For future updates, <a href="https://twitter.com/rpglimitbreak" target="_blank">follow us on Twitter</a>, <a href="https://discord.gg/rpglb" target="_blank">join our Discord</a>,
			or check back here regularly. A timeline of upcoming dates and deadlines is posted above, and more detailed event information can be found in our <a routerLink="/blog">news section.</a>
		</p>
		<p>
			{{event}} will be taking extensive measures to protect against COVID-19, including requiring attendees to be vaccinated and wearing masks in all event spaces. Please see our full <a routerLink="/covid">COVID-19 safety policy</a>
			for more information.
		</p>
		<p>
			Event registration for {{event}} is {{speedrunEvent?.isRegistrationOpen ? 'open' : 'closed.'}}
			<span *ngIf="speedrunEvent?.isRegistrationOpen">
				until Sunday, June 18th at 11:59 PM Eastern Daylight Time. You can register from your
				<a routerLink="/profile">profile</a> after creating an account.
			</span>
			<!-- Game submissions have closed and the <a href="https://horaro.org/rpglb/2022" class="no-icon">schedule</a>
			has been posted.--> Follow us on <a href="https://twitter.com/rpglimitbreak" _target="blank">Twitter</a> and
			<a href="https://discord.gg/rpglb" _target="blank">Discord</a> for all announcements on this year's and future events!
		</p>
	</div>
	<p *ngIf="speedrunEvent?.state==='post'">Welcome to RPG Limit Break! RPGLB is an annual event where gamers from around the globe gather to perform speedruns and support our efforts to raise money for NAMI, the National Alliance on Mental Illness, via a week-long, 24-hour livestream. RPG Limit Break is currently between events, but we sometimes host online events from the RPG speedrunning community, which you can watch below if we're currently live!</p>
</div>
<div class="embed-wrapper">
	<iframe class="embed" src="https://player.twitch.tv/?channel=rpglimitbreak&parent=rpglimitbreak.com&parent=www.rpglimitbreak.com&parent=localhost" frameborder="0" scrolling="no" allowfullscreen="true">
	</iframe>
</div>
<div class="wrapper">
	<h3 class="home-title">We can't wait to see what the next event has in store!</h3>
	<p>
		If the anticipation is unbearable, you can always check out VODs from previous events over on
		<a href="https://youtube.com/rpglimitbreak" _target="blank">our YouTube channel</a> or
		<a href="https://twitch.tv/rpglimitbreak" _target="blank">follow us on Twitch</a> for RPG speedrunning content all year long!
		If you'd like to learn more about NAMI and how they help communities at all scales, check out their website at
		<a href="https://nami.org" _target="blank">nami.org</a>.
	</p>
</div>
