<div class="wrapper">
	<img class="logo" src="assets/images/logo_1200x424.png" />
	<h1 class="home-title">{{event}} is coming up soon!</h1>
	<p>
		{{event}} will be taking place in Salt Lake City, Utah for the 5th year in a row, continuing to benefit the
		<a href="https://www.nami.org" _target="blank">National Alliance on Mental Illness.</a> The event will take place May 5th to
		May 11th, at the
		<a href="https://doubletree3.hilton.com/en/hotels/utah/doubletree-by-hilton-hotel-salt-lake-city-airport-SLCARDT/index.html"
			_target="blank">DoubleTree by Hilton - Salt Lake City Airport.</a>
	</p>
	<p>
		Game submissions and event registration for {{event}} are closed and the <a href="https://horaro.org/rpglb/2019" class="no-icon">schedule</a>
		has been posted. Follow us on <a href="https://twitter.com/rpglimitbreak" _target="blank">Twitter</a> and
		<a href="https://discord.gg/rpglb" _target="blank">Discord</a> for all announcements on this year's and future events!
	</p>
</div>
<div class="embed-wrapper">
	<iframe class="embed" src="https://player.twitch.tv/?channel=rpglimitbreak" frameborder="0" scrolling="no" allowfullscreen="true">
	</iframe>
</div>
<div class="wrapper">
	<h3 class="home-title">We can't wait to see what this year has in store!</h3>
	<p>
		If the anticipation is unbearable, you can always check out VODs from previous events over on
		<a href="https://youtube.com/rpglimitbreak" _target="blank">our YouTube channel</a> or
		<a href="https://twitch.tv/rpglimitbreak" _target="blank">follow us on Twitch</a> for RPG speedrunning content all year long!
		If you'd like to learn more about NAMI and how they help communities at all scales, check out their website at
		<a href="https://nami.org" _target="blank">nami.org</a>.
	</p>
</div>
