.submission-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 25px;
}

.submission-wrapper > :first-child {
	margin-right: 25px;
}

.form-wrapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.form-wrapper > * {
	width: 100%;
}

.row-wrapper {
	display: flex;
	flex-direction: row;
}

.row-wrapper > * {
	flex-grow: 1;
}

.row-wrapper > :first-child {
	flex-grow: 5;
	margin-right: 10px;
}

.category-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.category-info > * {
	margin-bottom: 25px;
}

.category-info > fieldset > button {
	float: right;
}

.category-new {
	min-width: 533px;
	min-height: 338px;
	padding: 0;
}

.category-new > button {
	width: 100%;
	height: 100%;
	font-size: 2em;
}

.category-new mat-icon {
	width: 100px;
	height: 100px;
	font-size: 100px;
	line-height: 100px;
}

.category-id {
	line-height: 36px;
}
