.form-wrapper {
    display: flex;
    flex-direction: column;
    min-inline-size: 20px;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
}

@media screen and (max-width: 725px) {
    .row-wrapper {
        flex-direction: column;
    }
}

.row-wrapper > * {
    flex-grow: 1;
}

.row-wrapper.flex-5 > :first-child {
    flex-grow: 5;
}

.category-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.category-info > fieldset > button {
    float: right;
}

.category-new {
    display: flex;
    justify-content: center;
}

.category-new > button {
    text-transform: capitalize;
}

.category-id {
    line-height: 36px;
}
