<mat-toolbar class="wrapper mat-elevation-z6" color="primary">
    <a routerLink="/">
        <img
            class="logo"
            src="assets/images/logos/LimitBreak-new-logo-RPGLB-02.png"
        />
    </a>
    <mat-nav-list>
        <a mat-list-item *ngIf="mode === 'live'" href="/donate" target="_blank"
            >Donate</a
        >
        <a
            mat-list-item
            *ngIf="
                mode === 'live' ||
                (mode === 'pre' && speedrunEvent?.isGamesListPublic)
            "
            href="/schedule"
            >Schedule</a
        >
        <a mat-list-item routerLink="/news">News</a>
        <a mat-list-item [href]="'/tracker/event/' + speedrunEvent?.trackerId"
            >Tracker</a
        >
        <a mat-list-item *ngIf="mode === 'live'" routerLink="/rules"
            >Event Rules</a
        >
        <a
            mat-list-item
            *ngIf="mode !== 'live' || speedrunEvent?.areGameSubmissionsOpen"
            routerLink="/submissions"
            >Submissions</a
        >
        <a
            mat-list-item
            *ngIf="
                mode !== 'live' && speedrunEvent?.areVolunteerSubmissionsOpen
            "
            routerLink="/volunteer"
            >Volunteer</a
        >
        <!-- Prize submissions (before event) -->
        <a
            mat-list-item
            *ngIf="mode !== 'live' && speedrunEvent?.arePrizeSubmissionsOpen"
            target="_blank"
            [href]="speedrunEvent?.prizeSubmissionUrl"
            >Prizes</a
        >
        <!-- Prizes (during event) -->
        <a
            mat-list-item
            *ngIf="mode === 'live' && !speedrunEvent?.arePrizeSubmissionsOpen"
            href="/prizes"
            >Prizes</a
        >
        <a mat-list-item href="https://discord.gg/rpglb" target="_blank"
            >Discord</a
        >
        <a
            mat-list-item
            *ngIf="mode === 'post'"
            href="https://youtube.com/@RPGLimitBreak"
            >VODs</a
        >
        <a
            mat-list-item
            *ngIf="mode === 'live'"
            [href]="speedrunEvent?.merchUrl"
            target="_blank"
            >Event Merch</a
        >
        <a mat-list-item href="https://store.rpglimitbreak.com">Store</a>
    </mat-nav-list>
    <mat-nav-list class="auth-container" *ngIf="isLoggedIn()">
        <a mat-list-item routerLink="/profile">{{ username }}</a>
        <mat-list-item (click)="logout($event)">
            <p matLine>Logout</p>
            <mat-icon matListIcon>logout</mat-icon>
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list class="auth-container" *ngIf="!isLoggedIn()">
        <a mat-list-item routerLink="/login">Login</a>
        <a mat-list-item routerLink="/signup">Sign Up</a>
    </mat-nav-list>
</mat-toolbar>
