<mat-toolbar class="wrapper mat-elevation-z6" color="primary">
	<a routerLink="/"><img class="logo" src="assets/images/logo_1200x424.png" /></a>
	<nav>
		<a *ngIf="mode === 'event'" href="/donate" target="_blank">DONATE</a>
		<!-- TODO: Add more granual event "modes" that dynamically alter links like the schedule -->
		<a href="/schedule">SCHEDULE</a>
		<!-- <a href="https://horaro.org/rpglb/2022" class="no-icon">SCHEDULE</a> -->
		<a routerLink="/blog">BLOG</a>
		<!-- TODO: Stop hardcoding this URL and pull the id from the speedrun event object -->
		<a href="/tracker/event/rpglb2022">TRACKER</a>
		<a *ngIf="mode === 'event'" routerLink="/rules">EVENT RULES</a>
		<a *ngIf="mode !== 'event' && speedrunEvent?.isGamesListPublic" routerLink="/games">GAMES</a>
		<a *ngIf="mode !== 'event' || speedrunEvent?.areGameSubmissionsOpen" routerLink="/submissions">SUBMISSIONS</a>
		<!-- The below page will return at a future event -->
		<!-- <a *ngIf="mode !== 'event' && speedrunEvent?.areVolunteerSubmissionsOpen" routerLink="/volunteer">VOLUNTEER</a> -->
		<a *ngIf="mode !== 'event' && speedrunEvent?.areVolunteerSubmissionsOpen" class="no-icon" target="_blank" href="https://forms.gle/Vh7FVhyXJftCdDNU9">VOLUNTEER</a>
		<a *ngIf="mode !== 'event' && speedrunEvent?.areVolunteerSubmissionsOpen" class="no-icon" target="_blank" href="https://forms.gle/YoW1JPSShxAjNjUm6">PRIZES</a>
		<a href="https://discord.gg/rpglb" class="no-icon" target="_blank">DISCORD</a>
		<!-- <a href="https://theyetee.com/RPGLimitBreak" class="no-icon" target="_blank">MERCH</a> -->
		<!-- <a routerLink="about">ABOUT</a> -->
		<div class="auth-container" *ngIf="isLoggedIn()">
			<a routerLink="/profile">PROFILE</a>
			<a (click)="logout()">LOGOUT</a>
		</div>
		<div class="auth-container" *ngIf="!isLoggedIn()">
			<a routerLink="/login">LOGIN</a>
			<a routerLink="/signup">SIGN UP</a>
		</div>
	</nav>
</mat-toolbar>
