@import '../../rpglb-dark-theme.scss';

$primary: map-get($rpglb-app-theme, primary);
$warn: map-get($rpglb-app-theme, warn);
$background: map-get($rpglb-app-theme, background);

/* General things */
.wrapper {
    max-width: 1500px;
    margin: 50px auto;
    position: relative;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

fieldset {
    margin-top: 1rem;
    position: relative;
}

fieldset:disabled > :not(legend) {
    color: rgba(255, 255, 255, 0.4);
}

h2 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.warn {
    font-size: 0.8em;
}

/* Event controls */
.event-controls {
    gap: 2rem;
    justify-content: flex-start;
    flex-wrap: wrap;

    & > * {
        flex-grow: 1;
        flex-basis: 96px;
        max-width: 200px;
    }

    h5 {
        margin-top: 0;
        white-space: nowrap;
    }
}

.floating-button {
    position: absolute;
    inset: 0 0 auto auto;
    z-index: 99;
}

legend > .floating-button {
    top: 25px;
}

/deep/ .event-controls:not(:disabled) mat-slide-toggle {
	color: mat-color($warn, lighter);

	&.mat-checked {
		color: mat-color($primary, 200);
	}
}

/* Event info */
.event-info {
    mat-form-field {
        margin: 1em 2em 1em 0;
        flex-grow: 1;
    }

    .floating-button {
        inset: auto 15px 15px auto;
    }
}

/* User lists */
.user-info {
    .floating-button {
        inset: 5px 15px auto auto;
    }
}

.user-list {
    width: 50%;
    font-size: 0.75em;
}

.user-wrapper {
    max-height: 700px;
    overflow: auto;
}

hr {
    border-color:#666;
}

.header {
    font-weight: 700;
}

.subtle {
    color: rgb(148, 148, 148);
    font-size: 0.6em;
    line-height: 1.5;
    vertical-align: middle;
}

.user {
    padding: 1.5px 5px;
}

.user:hover {
    background-color: #555;
}

.user .subtle {
    font-size: 0.9em;
    float: right;
}