<div class="wrapper full-width">
	<!-- Event Management -->
	<fieldset class="event-controls flex-container" *ngIf="user.roles.includes('event')" [disabled]="!adminControlsEnabled">
		<legend>
			<span>Event State Management</span>
			<button
				mat-mini-fab
				class="floating-button"
				color="primary"
				[disabled]="adminControlsEnabled"
				(click)="enableAdminControls()">
				<mat-icon>lock_open</mat-icon>
			</button>
		</legend>

		<div>
			<h5>Game Submissions</h5>
			<mat-slide-toggle #gameSubmissionSlide
				color="primary"
				matTooltip="I hope you know what you're doing..."
				[checked]="speedrunEvent?.areGameSubmissionsOpen"
				[disabled]="!adminControlsEnabled"
				labelPosition="before"
				(change)="updateState('gameSubmissions', gameSubmissionSlide.checked)">
				{{speedrunEvent?.areGameSubmissionsOpen ? 'OPEN' : 'CLOSED'}}
			</mat-slide-toggle>
		</div>

		<div>
			<h5>Games List / Schedule</h5>
			<mat-slide-toggle #gamesListSlide
				color="primary"
				matTooltip="I hope you know what you're doing..."
				[checked]="speedrunEvent?.isGamesListPublic"
				[disabled]="!adminControlsEnabled"
				labelPosition="before"
				(change)="updateState('gamesList', gamesListSlide.checked)">
				{{speedrunEvent?.isGamesListPublic ? 'PUBLIC' : 'PRIVATE'}}
			</mat-slide-toggle>
		</div>

		<div>
			<h5>Registration</h5>
			<mat-slide-toggle #registrationSlide
				color="primary"
				matTooltip="I hope you know what you're doing..."
				[checked]="speedrunEvent?.isRegistrationOpen"
				[disabled]="!adminControlsEnabled"
				labelPosition="before"
				(change)="updateState('registration', registrationSlide.checked)">
				{{speedrunEvent?.isRegistrationOpen ? 'OPEN' : 'CLOSED'}}
			</mat-slide-toggle>
		</div>

		<div>
			<h5>Volunteer Submissions</h5>
			<mat-slide-toggle #volunteerSubmissionSlide
				color="primary"
				matTooltip="I hope you know what you're doing..."
				[checked]="speedrunEvent?.areVolunteerSubmissionsOpen"
				[disabled]="!adminControlsEnabled"
				labelPosition="before"
				(change)="updateState('volunteerSubmissions', volunteerSubmissionSlide.checked)">
				{{speedrunEvent?.areVolunteerSubmissionsOpen ? 'OPEN' : 'CLOSED'}}
			</mat-slide-toggle>
		</div>

		<div>
			<h5>Prize Submissions</h5>
			<mat-slide-toggle #prizeSubmissionSlide
				color="primary"
				matTooltip="I hope you know what you're doing..."
				[checked]="speedrunEvent?.arePrizeSubmissionsOpen"
				[disabled]="!adminControlsEnabled"
				labelPosition="before"
				(change)="updateState('prizeSubmissions', prizeSubmissionSlide.checked)">
				{{speedrunEvent?.arePrizeSubmissionsOpen ? 'OPEN' : 'CLOSED'}}
			</mat-slide-toggle>
		</div>

		<mat-form-field>
			<mat-label>Event State</mat-label>
			<mat-select #eventStateSelect
				name="state"
				[(ngModel)]="speedrunEvent.state"
				[disabled]="!adminControlsEnabled"
				(change)="updateState('eventState', eventStateSelect.value)"
				>
				<mat-option *ngFor="let option of stateOptions" [value]="option">
					{{option}}
				</mat-option>
			</mat-select>
			<mat-hint>Current time in relation to event dates</mat-hint>
		</mat-form-field>
	</fieldset>

	<!-- Event Info -->
	<fieldset *ngIf="user.roles.includes('event')" class="event-info">
		<legend>Event Information</legend>
		<p class="warn">Note: This section is to be used for updating the <em>active event ONLY.</em> Do NOT use this section to change events completely.</p>
		<p class="subtle">SpeedrunEvent ID: {{speedrunEvent._id}}</p>
		<form #form="ngForm">
			<div class="flex-container">
				<mat-form-field>
					<mat-label>Name</mat-label>
					<input
						matInput
						type="text"
						name="name"
						[(ngModel)]="speedrunEvent.name"
						required
						/>
					<mat-hint>The full name of the event</mat-hint>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Short name</mat-label>
					<input
						matInput
						type="text"
						name="shortName"
						[(ngModel)]="speedrunEvent.shortname"
						required
						/>
					<mat-hint>The shorthand for the event</mat-hint>
				</mat-form-field>
			</div>

			<fieldset class="flex-container small-fieldset">
				<legend>Cause</legend>
				<mat-form-field>
					<mat-label>Name</mat-label>
					<input
						matInput
						type="text"
						name="causeName"
						[(ngModel)]="speedrunEvent.cause.name"
						required
						/>
					<mat-hint>The name of the benefitting charity</mat-hint>
				</mat-form-field>
				<mat-form-field>
					<mat-label>URL</mat-label>
					<input
						matInput
						type="text"
						name="causeUrl"
						[(ngModel)]="speedrunEvent.cause.url"
						required
						/>
					<mat-hint>The url for the benefitting charity</mat-hint>
				</mat-form-field>
			</fieldset>

			<mat-form-field>
				<mat-label>Registration Cap</mat-label>
				<input
					matInput
					type="number"
					name="maxRegisteredUsers"
					[(ngModel)]="speedrunEvent.maxRegisteredUsers"
					required
					/>
				<mat-hint>Attendees</mat-hint>
			</mat-form-field>

			<mat-form-field class="small-field">
				<mat-label>Registration Cost</mat-label>
				<input
					matInput
					type="number"
					name="registrationCost"
					[(ngModel)]="speedrunEvent.registrationCost"
					required
					/>
				<span matPrefix>$&nbsp;</span>
				<span matSuffix>USD</span>
			</mat-form-field>

			<br>
			<button
				mat-raised-button
				class="floating-button"
				color="primary"
				[disabled]="!form.valid"
				(click)="submitForm()"
				>
				Submit
			</button>
		</form>
	</fieldset>

	<!-- User Management -->
	<fieldset *ngIf="user.roles.includes('admin')">
		<legend>User Management</legend>
		<button
			mat-mini-fab
			class="floating-button"
			color="primary"
			(click)="getUsers()">
			<mat-icon>refresh</mat-icon>
		</button>
		<div class="flex-container">
			<div class="user-list" id="attendees">
				<h2>Attendees <span class="subtle">({{attendees.length}})</span></h2>
				<div class="user header">
					<span>Username - Discord - Email <span class="subtle">Roles</span></span>
				</div>
				<hr>
				<div *ngFor="let user of attendees" class="user">
					<span>{{user.username}} -</span>
					<span>{{user.discord}} -</span>
					<span>{{user.email}}</span>
					<span class="subtle">{{user.roles.join('|')}}</span>
				</div>
			</div>
			<div class="user-list all-users">
				<h2>All Users <span class="subtle">({{userList.length}})</span></h2>
				<div class="user header">
					<span>Username - First & Last - Email <span class="subtle">Roles</span></span>
				</div>
				<hr>
				<div class="user" *ngFor="let user of userList">
					<span>{{user.username}} -</span>
					<span>{{user.firstName}} {{user.lastName}} -</span>
					<span>{{user.email}}</span>
					<span class="subtle">{{user.roles.join('|')}}</span>
				</div>
			</div>
		</div>
	</fieldset>
</div>