<div class="table-container">
	<div class="loading-shade" *ngIf="isLoadingResults">
		<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
		<!-- TODO: Include an error message here when appropriate -->
	</div>
	<div *ngIf="showFilter" class="table-header">
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>

	<!--
		Common sense would use *ngIf directive on mat-paginator here, but this does not work with @ViewChild and
 		[hidden] doesn't work on mat-paginator directly, hence the wrapper element
	-->
	<div [hidden]="!showPagination">
		<mat-paginator #paginatorTop
			[length]="resultsLength"
			[pageSize]="defaultPageSize"
			[pageSizeOptions]="[5, 10, 20, 50, 5000]"
			[showFirstLastButtons]="true"
			(page)="onPageChange($event)">
		</mat-paginator>
	</div>

	<mat-table #table [dataSource]="dataSource"
	           matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

		<ng-container matColumnDef="runner">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Runner</mat-header-cell>
			<mat-cell *matCellDef="let submission">{{submission.runner | idToUsername | async}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef
				mat-sort-header disableClear="true">Game</mat-header-cell>
			<mat-cell *matCellDef="let submission">{{submission.name}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="console">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Console</mat-header-cell>
			<mat-cell *matCellDef="let submission">{{submission.console}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
			<mat-cell *matCellDef="let submission" class="preserve-newlines">{{submission.description}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="pros">
			<mat-header-cell *matHeaderCellDef>Pros</mat-header-cell>
			<mat-cell *matCellDef="let submission" class="preserve-newlines">{{submission.pros}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="cons">
			<mat-header-cell *matHeaderCellDef>Cons</mat-header-cell>
			<mat-cell *matCellDef="let submission" class="preserve-newlines">{{submission.cons}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="incentives">
			<mat-header-cell *matHeaderCellDef>Incentives</mat-header-cell>
			<mat-cell *matCellDef="let submission" class="preserve-newlines">{{submission.incentives}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="categories">
			<mat-header-cell *matHeaderCellDef>Categories</mat-header-cell>
			<mat-cell *matCellDef="let submission">
				<div *ngFor="let cat of submission.categories">{{cat.name}} - {{cat.estimate | timeToString}}</div>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="public">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Visibility</mat-header-cell>
			<mat-cell *matCellDef="let submission">{{submission.public ? 'Public' : 'Not Yet Public'}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="controls">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Controls</mat-header-cell>
			<mat-cell *matCellDef="let submission">
				<fieldset #controlsFieldset class="controls-group">
					<h3>Visibility</h3>
					<button mat-raised-button
						color="primary"
						(click)="markSubmission(submission, 'public', $event.target.closest('button'))">
						<span>Mark Public</span>
						<mat-spinner color="primary" [diameter]="28"></mat-spinner>
					</button>
					<button mat-raised-button
						color="accent"
						(click)="markSubmission(submission, 'private', $event.target.closest('button'))">
						<span>Mark Private</span>
						<mat-spinner color="accent" [diameter]="28"></mat-spinner>
					</button>
					<h3>Selection (Internal)<br />[Not yet implemented]</h3>
					<button mat-raised-button
						color="primary"
						(click)="markSubmission(submission, 'accept', $event.target.closest('button'))">
						<span>Mark Accepted</span>
						<mat-spinner color="primary" [diameter]="28"></mat-spinner>
					</button>
					<button mat-raised-button
						color="accent"
						(click)="markSubmission(submission, 'backup', $event.target.closest('button'))">
						<span>Mark Backup</span>
						<mat-spinner color="accent" [diameter]="28"></mat-spinner>
					</button>
					<button mat-raised-button
						color="warn"
						(click)="markSubmission(submission, 'reject', $event.target.closest('button'))">
						<span>Mark Rejected</span>
						<mat-spinner color="warn" [diameter]="28"></mat-spinner>
					</button>
				</fieldset>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
		<mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
	</mat-table>

	<!--
		Common sense would use *ngIf directive on mat-paginator here, but this does not work with @ViewChild and
 		[hidden] doesn't work on mat-paginator directly, hence the wrapper element
	-->
	<div [hidden]="!showPagination">
		<mat-paginator #paginatorBottom
			[length]="resultsLength"
			[pageSize]="defaultPageSize"
			[pageSizeOptions]="[5, 10, 20, 50, 5000]"
			[showFirstLastButtons]="true"
			(page)="onPageChange($event)">
		</mat-paginator>
	</div>
</div>
