<div class="table-container">
	<div class="loading-shade" *ngIf="isLoadingResults">
		<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
		<!-- TODO: Include an error message here when appropriate -->
	</div>
	<div *ngIf="showFilter" class="table-header">
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
		</mat-form-field>
	</div>

	<mat-table #table [dataSource]="dataSource"
	           matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

		<ng-container matColumnDef="runner">
			<mat-header-cell *matHeaderCellDef>
				<div mat-sort-header="name">Game</div>
				<div mat-sort-header="console">Console</div>
				<div mat-sort-header="runner">Runner</div>
			</mat-header-cell>
			<mat-cell *matCellDef="let submission">
				<span class="cell-title">{{submission.name}}</span>
				<div class="cell-subtitle">on {{submission.console}}</div>
				<div class="runner">&mdash; {{submission.runner.username}}</div>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef>Game</mat-header-cell>
			<mat-cell *matCellDef="let submission">{{submission.name}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="console">
			<mat-header-cell *matHeaderCellDef>Console</mat-header-cell>
			<mat-cell *matCellDef="let submission">{{submission.console}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
			<mat-cell *matCellDef="let submission" class="preserve-newlines">{{!submission.expand ? (submission.description | truncate:100+(200*submission.categories.length):true) : submission.description}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="proscons">
			<mat-header-cell *matHeaderCellDef>Pros &amp; Cons</mat-header-cell>
			<mat-cell *matCellDef="let submission">
				<ng-container *ngIf="submission.pros">
					<span class="cell-subtitle">PROS</span>
					<div class="preserve-newlines">{{!submission.expand ? (submission.pros | truncate:100+50*submission.categories.length:true) : submission.pros}}</div>
					<br />
				</ng-container>
				<ng-container *ngIf="submission.cons">
					<span class="cell-subtitle">CONS</span>
					<div class="preserve-newlines">{{!submission.expand ? (submission.cons | truncate:100+50*submission.categories.length:true) : submission.cons}}</div>
				</ng-container>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="incentives">
			<mat-header-cell *matHeaderCellDef>Incentives</mat-header-cell>
			<mat-cell *matCellDef="let submission" class="preserve-newlines">{{!submission.expand ? (submission.incentives | truncate:100+200*submission.categories.length:true) : submission.incentives}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="categories">
			<mat-header-cell *matHeaderCellDef>Categories</mat-header-cell>
			<mat-cell *matCellDef="let submission">
				<div *ngFor="let cat of submission.categories" class="category-container">
					<a *ngIf="hasSubmissionsRole"
						class="cell-title"
						[href]="cat.video.includes('http') ? cat.video : 'http://' + cat.video"
						target="_blank">
						{{cat.name}}</a>
					<span *ngIf="!hasSubmissionsRole" class="cell-title">{{cat.name}}</span>
					<div class="cell-subtitle">EST: {{cat.estimate | timeToString}}</div>
					<br />
					<div class="description preserve-newlines">{{!submission.expand ? (cat.description | truncate:100:true) : cat.description}}</div>
					<hr *ngIf="submission.categories.indexOf(cat) < submission.categories.length - 1"/>
				</div>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="public">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Visibility</mat-header-cell>
			<mat-cell *matCellDef="let submission"
				[ngClass]="{ 'primary': submission.public, 'warn': !submission.public }">
				{{submission.public ? 'Public' : 'Not Yet Public'}}<br />
				<mat-icon>{{submission.public ? 'visibility' : 'visibility_off'}}</mat-icon>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="controls">
			<mat-header-cell *matHeaderCellDef>Controls</mat-header-cell>
			<mat-cell *matCellDef="let submission">
				<fieldset #controlsFieldset class="controls-group">
					<h3>Visibility</h3>
					<button mat-raised-button
						color="primary"
						(click)="markSubmission(submission, 'public', $event)">
						<span>Mark Public</span>
						<mat-spinner color="primary" [diameter]="28"></mat-spinner>
					</button>
					<button mat-raised-button
						color="warn"
						(click)="markSubmission(submission, 'private', $event)">
						<span>Mark Private</span>
						<mat-spinner color="warn" [diameter]="28"></mat-spinner>
					</button>
					<h3>Selection (Internal)<br />[Not yet implemented]</h3>
					<button mat-raised-button
						color="primary"
						disabled
						(click)="markSubmission(submission, 'accept', $event)">
						<span>Mark Accepted</span>
						<mat-spinner color="primary" [diameter]="28"></mat-spinner>
					</button>
					<button mat-raised-button
						color="accent"
						disabled
						(click)="markSubmission(submission, 'backup', $event)">
						<span>Mark Backup</span>
						<mat-spinner color="accent" [diameter]="28"></mat-spinner>
					</button>
					<button mat-raised-button
						color="warn"
						disabled
						(click)="markSubmission(submission, 'reject', $event)">
						<span>Mark Rejected</span>
						<mat-spinner color="warn" [diameter]="28"></mat-spinner>
					</button>
					<h3>Removal</h3>
					<button mat-raised-button
						color="warn"
						(click)="deleteSubmission(submission);$event.stopPropagation()">
						<span>DELETE</span>
						<mat-spinner color="warn" [diameter]="28"></mat-spinner>
					</button>
				</fieldset>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="columnsToDisplay" class="mat-row-sticky top"></mat-header-row>
		<mat-row *matRowDef="let row; columns: columnsToDisplay"
			[ngClass]="{'collapsible': isRowCollapsible(row), 'expanded': row.expand}"
			(click)="row.expand = !row.expand">
		</mat-row>
	</mat-table>

	<!--
		Common sense would use *ngIf directive on mat-paginator here, but this does not work with @ViewChild and
		[hidden] doesn't work on mat-paginator directly, hence the wrapper element
	-->
	<div [hidden]="!showPagination" class="mat-row-sticky bottom">
		<mat-paginator #paginator
			[length]="resultsLength"
			[pageSize]="defaultPageSize"
			[pageSizeOptions]="[5, 10, 50, 100, 5000]"
			[showFirstLastButtons]="true">
		</mat-paginator>
	</div>
</div>
