<div class="container">
  <h1>The Road to RPG Limit Break 2020</h1>
  <div class="timeline-grid">
  <span class="dates">Jan 15 - 26</span><p>Game Submissions</p>
  <span class="dates">Feb 16</span><p>Games List</p>
  <span class="dates">Feb 16 - Apr 12</span><p>Event Registration</p>
  <span class="dates">Feb 16 - May 3</span><p>Prize Submissions</p>
  <span class="dates">Feb 16 - Mar 26</span><p>Onsite &amp; Offsite Volunteer Applications</p>
  <span class="dates">Mar 1</span><p>Games Schedule</p>
  <span class="dates">Apr 5</span><p>Onsite &amp; Offsite Volunteer Schedules</p>
  <span class="dates">Apr 12</span><p>Attendance Fee Refund Deadline</p>
  <p><br></p><p></p>
  <span class="dates special">May 10 - 16</span><p class="special">RPG Limit Break 2020!</p>
  </div>
</div>