<div class="container">
  <h1>The Road to RPG Limit Break 2022</h1>
  <div class="timeline-grid">
  <span class="dates">Jul 16 - 24</span><p>Open Game Submission Period</p>
  <span class="dates">Aug 14</span><p>Games List & Schedule</p>
  <!-- <span class="dates">Sep 13</span><p>Deadline for Confirmation of Runner Attendance</p> -->

  <span class="dates">Aug 14 - Sep 18</span><p>Event Registration Period</p>
  <span class="dates">Sep 18</span><p>Attendance Fee Refund Deadline</p>
  <span class="dates">Aug 14 - Oct 9</span><p>Prize Submission Period</p>
  <span class="dates">Sep 4</span><p>Onsite &amp; Offsite Volunteer Applications Due</p>
  <span class="dates">Sep 25</span><p>Onsite &amp; Offsite Volunteer Schedules</p>
  <p><br></p><p></p>
  <span class="dates special">Oct 16 - 22</span><p class="special">RPG Limit Break 2022!</p>
  </div>
</div>