<div class="container">
    <img
        src="/assets/images/2026dates.png"
        alt="A graphic representing the timeline of important dates leading up to RPGLB 2026"
    />
    <!-- <h1>The Road to {{srEvent.name}}</h1>
  <div class="timeline-grid">
  <span class="dates">Apr 14 - 23</span><p>Open Game Submission Period</p>
  <span class="dates">May 14</span><p>Games List & Schedule</p>

  <span class="dates">May 14 - Jun 18</span><p>Event Registration Period</p>
  <span class="dates">Jun 18</span><p>Attendance Fee Refund Deadline</p>
  <span class="dates">May 14 - Jul 2</span><p>Prize Submission Period</p>
  <span class="dates">May 14 - Jun 4</span><p>Onsite &amp; Offsite Volunteer Application Period</p>
  <span class="dates">Jul 2</span><p>Onsite &amp; Offsite Volunteer Schedules</p>
  <p><br></p><p></p>
  <span class="dates special">Jul 16 - 22</span><p class="special">RPG Limit Break 2023!</p>
  </div> -->
</div>
