<form class="form-login" novalidate (ngSubmit)="login()" #f="ngForm">
	<fieldset [disabled]="disableForm">
		<div class="alert" role="alert" *ngIf="message !== ''">{{message}}</div>
		<h2 class="form-login-header">Login</h2>
		<label for="username" class="sr-only">Username</label>
		<input type="text" class="form-control" placeholder="Username" [(ngModel)]="loginData.username" name="username" required />
		<br />
		<label for="password" class="sr-only">Password</label>
		<input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginData.password" name="password" required />
		<br />
		<button class="btn" type="submit" [disabled]="!f.form.valid">Login</button>
		<p>
			An account is required to register and submit for RPGLB events. <a [routerLink]="['/signup']">Signup here.</a>
		</p>
	</fieldset>
</form>
<p style="color: lightGreen">{{successMessage}}</p>
