.form-wrapper {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-wrapper > * {
    width: 100%;
}

.msg-status.warn {
    margin-bottom: 20px;
}

.msg-status.success {
    margin-top: 20px;
}
