<div class="main-content">
	<h1 class="title">Volunteer Information</h1>

	<mat-card>
		<h2 id="important-volunteer-dates">Important Volunteer Dates</h2>
		<p>
			{{ closeDate | date : "MMMM d" : "-0400" }} at 11:59 PM EDT &#x2013;
			Onsite &amp; Remote Volunteer Applications Close
		</p>
		<p>
			{{ scheduleDate | date : "MMMM d" : "-0400" }} &#x2013; Onsite &amp;
			Remote Volunteer Schedule Releases
		</p>
	</mat-card>

	<h2 id="where-to-sign-up">Where to Sign Up</h2>
	<p>
		Please visit our
		<a
			href="https://docs.google.com/forms/d/1qGB1TBz5SxlSWJvFzHoJ_y8_sNU_9UYq_8voW4VvtvU/viewform"
			>Volunteer Signup form</a
		>
		to apply.
	</p>

	<h2 id="volunteering-for-rpg-limit-break">
		Volunteering for RPG Limit Break
	</h2>
	<p>
		Volunteer roles for RPG Limit Break are categorized into 2 Departments:
		the Technical Department and the Community Department.
	</p>
	<p>
		The Technical Department roles cover the technical side of the marathon
		and are: Setup and Tear Down, Stream Tech, Stage Tech, Audio Tech and
		Interview Tech.
	</p>
	<p>
		The Community Department roles cover the forward facing side of the
		marathon and are: Hosting, Donation Station, Interview, Safety,
		Check-In, Cleaning, Moderation, and Social Media.
	</p>
	<p>For more information on these roles, read on!</p>
	<p class="additional">
		Unless otherwise noted, all departments will be scheduled in 4 hour
		blocks.
	</p>

	<h2 id="tech-department-volunteer-roles">
		Tech Department Volunteer Roles
	</h2>
	<h3>Setup &amp; Tear Down</h3>
	<p>
		This role is to help the Tech Team setup / tear down the event spaces on
		the Friday and Saturday before the event begins, and the Sunday after
		the event ends. This role will check in with Logistics Staff to maintain
		our inventory spreadsheet throughout the process.
	</p>

	<h3>Stream Tech</h3>
	<p>
		Stream Technicians maintain the Stream PC and Recording PC for the
		stream. They also facilitate the completion of game transitions by
		communicating with the on shift Producer to ensure all roles have
		completed their checklist items. Your duties will include, but are not
		limited to, monitoring the Stream PC to verify the quality of the stream
		is good and making sure correct layouts are utilized from run to run. As
		a jack of all trades the Stream Tech is a great introduction to
		volunteering if technology is your interest. OBS familiarity is a plus,
		but is not required.
	</p>
	<p>
		<strong
			>Stream Tech is a great first tech role to volunteer for our
			event.</strong
		>
	</p>

	<h3>Stage Tech</h3>
	<p class="subtitle dim">Scheduled by game</p>
	<p>
		Stage Technicians prepare the next run on stage, by connecting consoles,
		verifying equipment is working, moving chairs, cleaning and handing out
		headsets to runners, commentators, and volunteers and adjusting the
		stage camera to provide the best view for our online audience. They work
		with the Producer and the Stream Tech to ensure everything is working
		and that the run can proceed. Familiarity with Steam and with connecting
		consoles is a big plus, but is not required.
	</p>

	<h3>Audio Tech</h3>
	<p>
		Audio Technicians are responsible for all the sound, whether it goes to
		the stream, to the live audience, and even to the headsets of the
		runners and commentators. They will work under the direction of the
		Producer to set the relative levels of all audio sources, transition the
		audio feed between scenes, and maintain a clear and comfortable
		listening experience for all viewers. Familiarity with digital audio
		mixers is required. Specific knowledge of the Behringer Wing is
		beneficial, but not necessary.
	</p>
	<p class="success additional">
		This role has typically received lower application numbers than others,
		please consider applying!
	</p>

	<h3>Interview Tech</h3>
	<p class="subtitle dim">Scheduled per interview</p>
	<p>
		Interview Technicians will be required to help setup interviews. This
		includes, but is not limited to, adjusting audio so the interview
		participants have the correct audio levels, adjusting the Interview
		camera to make sure the interview is in frame, and coordinating with the
		prize team to ensure all relevant prizes are displayed during the
		interview. You will also be present during the interview to give a point
		of sight to help keep interviews focused on you and not the camera. You
		will need to be sure the interviewee and interviewer are on site and
		ready for the interview coming up.
	</p>
	<p class="additional">
		Interview Tech is a great tech role to volunteer for if you want to work
		your way up to being an Audio Tech Volunteer.
	</p>

	<h2 id="community-department-volunteer-roles">
		Community Department Volunteer Roles
	</h2>

	<h3>Hosting</h3>
	<p class="subtitle dim">Scheduled by game</p>
	<p>
		Our hosts for the event are responsible for being the on-air voice
		during the event that conveys a multitude of information to the runners
		and the viewing audience. This information includes (but is not limited
		to): donation comments, “blurbs” about the event and/or charity,
		upcoming runs, incentive/bidwar updates, and available prizes. Hosts are
		also responsible for introducing both the run(s) for which they will
		host, as well as any interviews occurring during their shift. Hosting
		shifts are connected to a particular game or block of games, and
		typically last for about 2-4 hours; if you are assigned to a longer game
		it will be split among multiple hosts.
	</p>
	<p>You do not need to be an experienced host to apply!</p>
	<p class="additional">
		For {{ speedrunEvent?.name }} we will be accepting sign ups for Remote
		Hosts, but in an effort to move RPG Limit Break back to a majority
		onsite event, priority will be given to those who are attending the
		marathon in person.
	</p>

	<h3>Donation Station</h3>
	<p>
		Donation Station volunteers are responsible for processing the donations
		we receive on behalf of NAMI. This includes, but is not limited to,
		screening donation comments and commenter names to choose which to send
		to the hosts, approving new suggestions for naming incentives, and
		helping donors apply their donations to appropriate incentives.
	</p>
	<p class="additional">
		Donation Station is a great first Community department role to volunteer
		for our event.
	</p>
	<p class="additional">
		For {{ speedrunEvent?.name }} we will be following up on our previous
		experiment of having more Remote Donation Station Volunteers, so bear
		that in mind when applying!
	</p>

	<h3>Interview</h3>
	<p>
		Interview volunteers help with planning and conducting the interviews
		you see on screen during the marathon with Runners, staff and
		Representatives of our charities.
	</p>
	<p class="additional warn">
		For {{ speedrunEvent?.name }} we will not be accepting new Interview
		volunteer sign ups.
	</p>

	<h3>Safety</h3>
	<p>
		The role of the safety team is to ensure a safe environment for all
		attendees at the event. Our focus is to know and understand the rules
		and report any issues or concerns to the Safety Coordinator and Staff
		along with gentle reminders to people to abide by the rules of the event
		when we see violations.
	</p>
	<p>
		The things you will be on the look out for include, but are not limited
		to, <a href="https://rpglimitbreak.com/covid">COVID-19</a> policies
		(including mask alignment), ID badges worn in event rooms, and promoting
		a safe and respectful environment that can be enjoyed by all.
	</p>
	<p class="additional success">
		This role has typically received lower application numbers than others,
		please consider applying!
	</p>

	<h3>Check-In</h3>
	<p>
		In addition to checking attendees into the event, Check-In volunteers
		are responsible for managing the lost and found and otherwise assisting
		attendees trying to find their way about the event. We&apos;re looking
		for people who are comfortable with interacting with and helping others.
	</p>
	<p class="additional success">
		This role has typically received lower application numbers than others,
		please consider applying!
	</p>
	<p class="additional">
		Check-In is a great first Community department role to volunteer for our
		event.
	</p>

	<h3>Cleaning</h3>
	<p>
		The Cleaning Crew is responsible for keeping our event space safe and
		welcoming for all attendees. You&apos;ll be asked to perform rounds of
		the event space, cleaning surfaces as they are used. While you&apos;ll
		be on your feet during that part of the shift, you are not expected to
		clean continuously; there will be downtime.
	</p>
	<p class="additional success">
		This role has typically received lower application numbers than others,
		please consider applying!
	</p>

	<h3>Moderation</h3>
	<p>
		This role monitors chat during the marathon. Moderating according to our
		policies and working with other team members to make moderation
		decisions. You are not expected to be around the stream 24/7.
	</p>
	<p class="additional warn">
		This is NOT a permanent moderation assignment and you may lose your
		privileges after the marathon concludes!
	</p>
	<p class="additional">This is a Remote Volunteer role.</p>

	<h3>Social Media</h3>
	<p>
		Social Media Volunteers, while on duty, will be responsible for managing
		our Social media feed. This includes Sending Tweets and
		Retweeting/Liking posts that are relevant or the platform equivalents.
		The Tweets you may be asked to create will include, but are not limited
		to, Promoting Runs, Updating Donation milestones and engaging with our
		community all of which will be outlined in more detail in our Volunteer
		Documentation.
	</p>
	<p>
		You will receive all the information, tools and training you will need
		to be successful!
	</p>
	<p class="additional">This is a Remote Volunteer role.</p>

	<h2 id="hosting-audition-tools">
		Hosting Audition Tools for Recording Audio
	</h2>
	<h3>Windows</h3>
	<p>
		Use the built in “Voice Recorder” software. You can find it by going to
		the Start Menu and typing “Voice Recorder”. Press the record button in
		the middle to start, press again to stop.
	</p>
	<h3>Mac</h3>
	<p>
		Use QuickTime Player&apos;s built in audio recording option. Go to
		“File” and then select “New Audio Recording”.
	</p>
	<h3>Alternatives</h3>
	<p>
		<a href="https://vocaroo.com/">Vocaroo</a> &#x2013; Simple web based
		recording website.
	</p>
	<p>
		<a href="https://www.audacityteam.org/">Audacity</a> &#x2013; A free
		program for both Windows and Mac. Refer to their documentation for
		making a voice recording.
	</p>

	<h2 id="contact">Contact</h2>
	<p>
		If your question is not answered here, please email
		<a href="mailto:volunteer@rpglimitbreak.com"
			>volunteer@rpglimitbreak.com</a
		>
		for assistance, and we will do our best to help you.
	</p>
</div>
