<div class="main-content">
  <h1 class="title">Volunteer Information</h1>
  <mat-card>

    <h2 id="important-volunteer-dates">Important Volunteer Dates</h2>
    <ul>
    <li>August 27 at 11:59 PM EDT – Onsite &amp; Offsite Volunteer Applications Close</li>
    <li>September 6 – Onsite &amp; Offsite Volunteer Schedule Releases</li>
    </ul>
    <h2 id="where-to-sign-up">Where to sign up</h2>
    <p><strong>On-site Volunteering</strong> – Please visit our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZExbcwJhSGqQpsQL-htA_mGRSYRqhJtfy3MI3ZKQAE2jTKQ/viewform">on-site volunteering form</a> to apply.  Please keep in mind you must be registered and paid for RPGLB 2020 by the cutoff date (March 26th at 11:59 EDT) to be accepted as a volunteer.</p>
    <p><strong>Off-site Volunteering</strong> – Please visit our <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0R_6hLvJSJhnbRpVgxMp6ITV5e3P9C85LHuRAleN48KjeJw/viewform">off-site volunteering form</a> to apply.  You do not need to be registered for the event to volunteer from home.</p>
    <h2 id="on-site-positions">On-Site Positions</h2>
    <p><strong>Setup</strong> – Help set up the stream room and the practice room on Friday and Saturday.  This involves moving equipment, plugging things in, and generally readying the rooms for the event.  Volunteers will be expected to be capable of moving semi-heavy boxes and bins, as well as CRT TVs (20+ pounds, or 10+ kilograms).</p>
    <p><strong>Check-in</strong> – <em>(Scheduled in 3 hour shifts)</em> Checks in attendees on arrival, hands out t-shirts and badges.</p>
    <p><strong>Donation Processing</strong> - <em>(Scheduled in 3 hour shifts)</em> Screens donations to be sent to the host, does admin work with donations and incentives.</p>
    <p><strong>Enforcement</strong> – <em>(Scheduled in 4 hour shifts)</em> We make sure that the event runs smoothly and that attendees are following the rules to keep themselves and others safe.</p>
    <p><strong>Hosting</strong> – <em>(Scheduled by game)</em> Reads donations on stream, along with prepared blurbs, etc.  All hosts MUST upload an audition recording.  See Host Auditions section below if interested.</p>
    <p><strong>Audio Tech</strong> – <em>(Scheduled in 4 hour shifts)</em> Manages the audio mixer (Behringer x32 Digital Mixer) for game setups and adjustments mid-run.</p>
    <p><strong>Stage Tech</strong> – <em>(Scheduled by game)</em> Does the work around the TVs for game setups, handing out headsets, setting the camera position, and connecting consoles to the capture setup.</p>
    <p><strong>Stream Tech</strong> – <em>(Scheduled by game)</em> Works with OBS and the stream info dashboard, and also monitors the stream throughout the run.</p>
    <p><strong>Interview Tech</strong> – <em>(Scheduled per Interview)</em> Sets camera, lighting, and audio mixer for interviews, as well as providing other assistance to timing transitions to and from interviews.</p>
    <h2 id="off-site-positions">Off-Site Positions</h2>
    <p><strong>Chat Mods</strong> - Do the thankless job to keep things positive and comfortable for everyone in our Twitch chat and in our Discord.</p>
    <p><strong>Twitter Volunteers</strong> - Help run the @RPGLimitBreak Twitter account by announcing upcoming runs, joining in memes, and connecting with staff and fellow volunteers to inform them of important information.</p>
    <h2 id="host-auditions">Host Auditions</h2>
    <p>All hosts are required to submit an audition.  Please have your audition recording ready before submitting your full volunteer application.  Submitting later in the process will not affect your chances of being selected, so please have it ready before submitting.</p>
    <p><strong>Host Audition Guidelines</strong></p>
    <p>Please create a 4 minute audio recording, and then submit it through the Google form.  You must submit an audition recording or you will not be considered for any hosting slots.</p>
    <ol>
    <li>Introduce yourself, and how you came to this community</li>
    <li>Find (or write your own) a few donations to read, and try to make them each a little different (maybe a happy one, a depressing one, and a silly one).  For reference, you can pull donation comments from previous RPGLB marathon donations here: <a href="https://rpglimitbreak.com/tracker/">https://rpglimitbreak.com/tracker/</a></li>
    </ol>
    <p><strong>Audio Recording Instructions</strong></p>
    <p>Windows: Use the built in “Voice Recorder” software.  You can find it by going to the Start Menu and typing “Voice Recorder”. Press the record button in the middle to start, press again to stop.</p>
    <p>Mac: Use QuickTime Player’s built in audio recording option.  Go to “File” and then select “New Audio Recording”.</p>
    <p>Alternative #1:  <a href="https://vocaroo.com/">https://vocaroo.com/</a> - Simple web based recording website.  Record your audition, save it if you’re happy with it, and then download the recording.</p>
    <p>Alternative #2: Audacity is a program for both Windows and Mac.  Install Audacity (it’s a free program) and refer to their documentation for making a voice recording.</p>
    <h2 id="contact">Contact</h2>
    <p>If your question is not answered here, please email <a href="mailto:volunteer@rpglimitbreak.com">volunteer@rpglimitbreak.com</a> for assistance, and we will do our best to help you.</p>

  </mat-card>
</div>