<div class="text-content">
    <h1 class="title">Contact Us</h1>
    <div class="flex">
        <div>
            <h2>Email</h2>
            <p>
                General Inquiries<br /><a
                    href="mailto:management@rpglimitbreak.com"
                    >management@rpglimitbreak.com</a
                >
            </p>
            <p>
                Prizes/Sweepstakes<br /><a
                    href="mailto:prizes@rpglimitbreak.com"
                    >prizes@rpglimitbreak.com</a
                >
            </p>
            <p>
                Volunteer Coordinators<br /><a
                    href="mailto:volunteer@rpglimitbreak.com"
                    >volunteer@rpglimitbreak.com</a
                >
            </p>
            <p>
                Games Selection Committee<br /><a
                    href="mailto:committee@rpglimitbreak.com"
                    >committee@rpglimitbreak.com</a
                >
            </p>
            <p>
                Safety Team<br /><a href="mailto:safety@rpglimitbreak.com"
                    >safety@rpglimitbreak.com</a
                >
            </p>
            <p>
                Website &amp; Account Issues<br /><a
                    href="mailto:website@rpglimitbreak.com"
                    >website@rpglimitbreak.com</a
                >
            </p>
        </div>
        <div>
            <h2>Social Media</h2>
            <p>
                Twitter<br /><a
                    href="https://twitter.com/rpglimitbreak"
                    target="_blank"
                    >@RPGLimitBreak</a
                >
            </p>
            <p>
                Discord<br /><a href="https://discord.gg/rpglb"
                    >discord.gg/rpglb</a
                >
            </p>
            <p>
                BlueSky<br /><a
                    href="https://bsky.app/profile/rpglimitbreak.bsky.social"
                    >rpglimitbreak.bsky.social</a
                >
            </p>
            <p>
                Instagram<br /><a href="https://www.instagram.com/rpglimitbreak"
                    >RPGLimitBreak</a
                >
            </p>
        </div>
    </div>
</div>
