<div class="main-content">
  <h1 class="title">Contact Information</h1>
  <mat-card>

    <h2>Email</h2>
    <p>General Inquiries: <a href="mailto:management@rpglimitbreak.com">management@rpglimitbreak.com</a></p>
    <p>Prizes/Sweepstakes: <a href="mailto:prizes@rpglimitbreak.com">prizes@rpglimitbreak.com</a></p>
    <p>Volunteer Coordinators: <a href="mailto:volunteer@rpglimitbreak.com">volunteer@rpglimitbreak.com</a></p>
    <p>Games Selection Committee: <a href="mailto:committee@rpglimitbreak.com">committee@rpglimitbreak.com</a></p>
    <p>Enforcement/Safety Team: <a href="mailto:enforcement@rpglimitbreak.com">enforcement@rpglimitbreak.com</a></p>
    <p>Website Feedback: <a href="mailto:website@rpglimitbreak.com">website@rpglimitbreak.com</a></p>
    <br>

    <h2>Social Media</h2>
    <p>Twitter: <a href="https://twitter.com/rpglimitbreak" target="_blank">@RPGLimitBreak</a></p>
    <p>Discord: <a href="https://discord.gg/rpglb">discord.gg/rpglb</a></p>

  </mat-card>
</div>