<div class="wrapper">
	<h1>All Public Submissions - {{event}}</h1>
	<p class="msg-status info">
		We are aware of a bug currently affecting sorting and filtering by runner name. We apologize for the inconvenience.
	</p>
	<p>
		Submissions are made public as they are manually reviewed for errors. Because of this,
		<span class="info">your submissions may not appear in this list just yet.</span>
		Below are all of the public submissions. You can search the list at the top of the table, or view more results
		by using the controls at the bottom.
	</p>
	<app-submission-list></app-submission-list>
</div>
