@import "../../rpglb-dark-theme.scss";

$primary: map-get($rpglb-app-theme, primary);
$accent: map-get($rpglb-app-theme, accent);
$warn: map-get($rpglb-app-theme, warn);
$bonus: mat-palette($mat-purple, 400, 200);
// $foreground: map-get($rpglb-app-theme, foreground);
// $background: map-get($rpglb-app-theme, background);

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.text-content {
    max-width: 100ch;
}

.admin-controls {
    float: right;
    text-align: right;
    font-size: 0.8em;
    line-height: 2.8em;
    color: rgb(148, 148, 148);
    font-style: italic;

    .privacy-public {
        color: mat-color($primary, 200);
    }

    .privacy-private {
        color: mat-color($warn, lighter);
    }
}

.selection-controls {
    margin: 40px 0 5px;
    text-align: center;
}

mat-button-toggle {
    &[color="primary"] {
        background-color: mat-color($primary);
    }
    &[color="bonus"] {
        background-color: mat-color($bonus);
    }
    &[color="accent"] {
        background-color: mat-color($accent);
    }
    &[color="warn"] {
        background-color: mat-color($warn);
    }

    &.mat-button-toggle-checked {
        color: white;

        &[color="primary"] {
            background-color: mat-color($primary, darker);
        }
        &[color="bonus"] {
            background-color: mat-color($bonus, darker);
        }
        &[color="accent"] {
            background-color: mat-color($accent, darker);
        }
        &[color="warn"] {
            background-color: mat-color($warn, darker);
        }
    }
}
