<div class="main-content">
    <h1 class="title">Runner Guide</h1>

    <p>Console/PC Hardware - It is expected that all console-based games will be run on original console hardware (official digital ports such as VC/PSN are fine, as are flash/reproduction cartridges). PC-based emulators (BizHawk, SNES9X, ePSXe, etc) are acceptable for submission videos, as long as runners will be prepared to run the game on console/official digital port at the marathon (including making any needed arrangements for a controller &amp; cartridge/disc). This expectation applies to remote runs as well as onsite runs.</p>
    <!-- <p>RPGLB staff will have basic NTSC-U SD consoles (SNES, PS2, etc) on hand for the stream room (though it’s recommended for runners to bring their own for practice) and gaming PCs for the stream and practice rooms. For HD consoles (PS4, PSTV, Switch, etc), it is expected for runners to bring their own consoles to ensure no installation/patching/load time issues. For PC game runs, it is preferred if the runner can bring a digital copy of the game on a USB stick/drive (so the game can be installed on our PCs faster and more easily).</p> -->
    <p>RPGLB staff will have common NTSC-U SD consoles on hand for the stream room, though it’s recommended for runners to bring their own for practice. Any SD console requiring a mod to produce an RGB feed must be provided by us, unless the runner has a similarly modified personal console. Otherwise, runners are free to play on their hardware, or the ones provided by us. The list of consoles we personally provide are the following:</p>
    <ul>
        <li>RGB modified NES</li>
        <li>SNES</li>
        <li>Genesis Model 2</li>
        <li>PS2</li>
        <li>RGB modified N64</li>
        <li>GBI modified GameCube</li>
    </ul>
    <p>Any other SD consoles are not provided by us, and if your console doesn’t natively support RGB output, we will be in contact to discuss capture options.</p>
    <p>For HD consoles, it is expected for runners to bring their own consoles to ensure no installation/patching/load time issues.</p>
    <p>For PCs, we have equivalent systems available for the stream and practice rooms. The specs are as follows:</p>
    <ul>
        <li>MSI Motherboard</li>
        <li>AMD Ryzen 7 5800X 3.8 GHz 8-Core CPU</li>
        <li>32GB DDR4-3200 RAM</li>
        <li>EVGA GeForce RTX 3060 12GB GPU</li>
        <li>HP X500 Mouse</li>
        <li>NPET K10 V3-RGB Keyboard</li>
    </ul>
    <p>Defining what is/isn’t an RPG is something we do not attempt - our goal is to produce a schedule of games that appeal to fans of the RPG genre; and the RPGLB games committee decides on a case-by-case basis which offered games are/aren’t good fits for our marathon.</p>
    <h3>Questions or Feedback?</h3>
    <p>Feel free to ask any questions about our event via:</p>
    <ul>
        <li><p><a href="http://discord.gg/rpglb">RPGLB Discord</a>, in the channel #rpglb-charity-marathon</p></li>
        <li><p><a href="https://twitter.com/rpglimitbreak">RPGLB Twitter</a></p></li>
        <li><p><a href="mailto:management@rpglimitbreak.com">E-mail</a></p></li>
    </ul>
</div>