<div class="main-content">
	<h1 class="title">COVID-19 Safety Policy for RPG Limit Break 2024</h1>
	<mat-card>
		<p>Thank you for your interest in attending RPG Limit Break 2024 (RPGLB 2024)! This policy is a living document
			(last updated February 11, 2024), and may be updated at any time prior to the event as health regulations,
			safety recommendations, and changes in COVID-19’s ongoing development occur between now and the event.</p>
		<h3 id="policy-changes-from-rpglb-2023">POLICY CHANGES FROM RPGLB 2023</h3>
		<ul>
			<li>
				<p>The vaccination policy is unchanged from RPGLB 2023, and anyone who attended RPGLB 2023 will not need
					to provide proof of vaccination to attend RPGLB 2024 (since that proof was given last year). Our
					attendee check-in documentation will be the source of record for who attended RPGLB 2023 - feel free
					to contact RPGLB staff (<a href="mailto:safety@rpglimitbreak.com">safety@rpglimitbreak.com</a>) if
					you are unsure if this applies to you or not.</p>
			</li>
			<li>
				<p>For anyone who is granted a medical exception from the vaccination requirement (via signed note from
					a licensed physician), the negative COVID-19 testing requirement has been reduced from daily to the
					day of arrival + every 3 days thereafter (so days 1, 4, and 7 for a full-event attendee). In
					addition, all tests can be At-Home/Over-The-Counter tests rather than Polymerase Chain Reaction
					(PCR) lab tests.</p>
			</li>
			<li>
				<p>Masks will be required in the following areas:</p>
				<ul>
					<li>Stream Room (audience seating and tech areas)</li>
					<li>Public Practice Room</li>
				</ul>
			</li>
			<li>
				<p>Masks will be optional in the following areas:</p>
				<ul>
					<li>On stage (runners/commentators/hosts)</li>
					<li>Interview set (interviewers/interviewees)</li>
					<li>Social room (puzzle/hangout/food room)</li>
					<li>Private Practice Room</li>
				</ul>
			</li>
		</ul>
		<h3 id="what-are-the-covid-19-safety-requirements-to-attend-rpglb2024">What are the COVID-19 safety requirements
			to attend RPGLB2024?</h3>
		<p>Our requirements are designed to minimize the spread of COVID-19 at the event. We have built our requirements
			based on recommendations from medical staff, CDC guidelines, and WHO guidelines. You may find that some of
			these requirements exceed the guidelines put forth by the CDC. This is intentional, to maximize the safety
			of our attendees. RPG Limit Break will also provide assistance with some of these requirements.</p>
		<ul>
			<li>
				<p>You must be vaccinated for COVID-19. This is defined as either:</p>
				<ol>
					<li>A primary series of vaccinations and a booster, in which the booster was administered at any
						time between <strong>August 16th, 2022</strong> and <strong>May 3rd, 2024</strong>.</li>
					<li>A primary series of vaccinations in which the final dose was administered between <strong>April
							22nd, 2023</strong> and <strong>May 3rd, 2024</strong>.</li>
				</ol>
			</li>
			<li>
				<p>Though not required for RPGLB2024 attendance, it is strongly recommended for attendees to receive the
					latest COVID-19 boosters based on CDC guidance (<a
						href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/stay-up-to-date.html">https://www.cdc.gov/coronavirus/2019-ncov/vaccines/stay-up-to-date.html</a>).
				</p>
			</li>
			<li>
				<p>Vaccines must be authorized by the US Food and Drug Administration, or the World Health Organization
					(a list is provided below).</p>
			</li>
			<li>
				<p>You must be able to present proof of your COVID-19 vaccinations (physical vaccine card or digital
					equivalent), and a government issued photo ID. Each attendee must provide their own documentation,
					we will not accept documents on behalf of another attendee.</p>
			</li>
			<li>
				<p>As the vaccination policy is unchanged from RPGLB 2023, anyone who attended RPGLB 2023 will not need
					to provide proof of vaccination to attend RPGLB 2024 (since that proof was given last year). Our
					attendee check-in documentation will be the source of record for who attended RPGLB 2023 - feel free
					to contact RPGLB staff (<a href="mailto:safety@rpglimitbreak.com">safety@rpglimitbreak.com</a>) if
					you are unsure if this applies to you or not.</p>
			</li>
			<li>
				<p>You must be able to wear a KN95/N95/KF94 face mask while in the mask-required spaces at our event
					(Stream Room &amp; Public Practice Room). Proper mask fitment (covering nose and mouth, with a good
					seal) will be enforced strictly. Masks are optional in other event spaces, but still recommended.
				</p>
			</li>
			<li>
				<p>You must report if you, or someone you have been in close contact with, show symptoms or test
					positive of COVID-19 in the past 14 days prior to or during your attendance. Reports should be made
					immediately to RPGLB safety staff (<a
						href="mailto:safety@rpglimitbreak.com">safety@rpglimitbreak.com</a>). Details on what to check
					for and what to do are below.</p>
			</li>
			<li>
				<p>You are responsible for complying with all advisories or restrictions that may be in place for travel
					to or within the United States for RPGLB2024</p>
			</li>
			<li>
				<p>You must comply with any government self-quarantine or isolation orders</p>
			</li>
			<li>
				<p>You will need to take any COVID-19 tests requested by the RPGLB safety staff, in the event of a
					possible direct exposure to, or symptoms of, COVID-19. You will not be permitted to enter the event
					until you have provided the RPGLB safety team with the necessary negative COVID-19 tests.</p>
			</li>
			<li>
				<p>You must follow social distancing requirements for each area of our event. Each room in our event
					will be laid out to help guide attendees towards proper distancing.</p>
			</li>
			<li>
				<p>Minors (those under 18) are <strong>not exempt from the vaccination and masking
						requirements</strong>. Minors must attend with a parent or guardian who is registered for the
					event.</p>
			</li>
			<li>
				<p>You must maintain good hygiene, including regular hand washing and changing your masks at least once
					every 3 days.</p>
			</li>
		</ul>
		<h3 id="what-do-i-do-if-i-think-i-have-covid-19-or-was-in-close-contact-with-someone-who-may-have-had-covid-19">
			What do I do if I think I have COVID-19, or was in close contact with someone who may have had COVID-19?
		</h3>
		<p>The CDC has provided <a
				href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">thorough
				documentation</a> on what may be considered a symptom of COVID-19. We encourage attendees to be familiar
			with the CDC guidance when making a determination about their health.</p>
		<p>First, immediately reach out to the RPGLB Safety Team (<a
				href="mailto:safety@rpglimitbreak.com">safety@rpglimitbreak.com</a>), and let us know. Then, you need to
			isolate (in your hotel room or residence). RPGLB Staff will need you to get one or more COVID-19 tests in
			order to verify whether you may be safe to return to the event. It is critically important that you do not
			expose yourself to others until you are cleared by RPGLB staff and your symptoms have subsided.</p>
		<p>The RPGLB Management may, at their discretion, authorize a partial attendance fee refund if you are unable to
			attend the event or must leave the event early due to COVID-19 symptoms or a positive test.</p>
		<p>You will need to arrange a return of your badge to us if you are isolating or unable to return to the event.
			RPGLB Safety Team can arrange this with you (<a
				href="mailto:safety@rpglimitbreak.com">safety@rpglimitbreak.com</a>). You may designate someone to pick
			up your badge on May 26th at 5PM (local time, MDT) at the check-in desk if you are unable to return before
			the event ends by emailing <a href="mailto:management@rpglimitbreak.com">management@rpglimitbreak.com</a>.
		</p>
		<h3 id="are-there-any-exemptions-to-the-vaccination-and-masking-requirements">Are there any exemptions to the
			vaccination and masking requirements?</h3>
		<p>For the safety of all in attendance, we require vaccinations and masking for everyone. RPGLB staff,
			volunteers, runners, and charity representatives will need to meet our requirements to enter our event
			space.</p>
		<p>Please keep in mind that we are accepting a number of remote runners and volunteers, and the event will be
			streamed live, if you are unable to meet our requirements for attendance!</p>
		<p>If you wish to request a vaccine medical exemption, or have an accessibility question, please contact<br>
			<a href="mailto:safety@rpglimitbreak.com">safety@rpglimitbreak.com</a>. Medical exemptions must be verified
			and approved prior to attending (no later than May 5th, 2024). Those seeking medical exemptions will need to
			provide a signed medical exemption note by a licensed physician describing why an exemption is required. In
			order for the safety of all attending, those seeking exemptions must also produce a negative COVID-19
			At-Home/Over-the-Counter test taken the day of your arrival at the event. Furthermore, you will need to
			produce a new negative COVID-19 test every third day of your attendance after arrival (so days 1, 4, and 7
			if you attend the full event), no later than 12PM local time (MDT), to the safety staff. You are responsible
			for locating and purchasing the necessary tests.
		</p>
		<p>While we are required to accept this limited exemption, we <strong>strongly encourage</strong> you do not
			attend without the proper vaccinations, for your own safety.</p>
		<h3 id="what-else-is-rpglb-doing-to-maximize-attendee-safety">What else is RPGLB doing to maximize attendee
			safety?</h3>
		<p>COVID-19 safety extends beyond masks and vaccinations. In addition to the requirements for attendance, we
			will also be doing the following:</p>
		<ul>
			<li>We will have a dedicated team whose responsibility will be to regularly sanitize contact areas of the
				event space, which will be done approximately every 2 hours.</li>
			<li>We will provide all attendees at check-in with a minimum of 3 masks, upon request.</li>
			<li>Hand sanitizer stations will be available in all event rooms.</li>
			<li>Air purifier units will be located in the Stage/Interview/Tech half of the Stream Room and in the Social
				Room.</li>
			<li>Event spaces have been reconfigured to allow for social distancing.</li>
		</ul>
		<h3 id="which-vaccinations-are-currently-accepted">Which vaccinations are currently accepted?</h3>
		<p>This list is current as of February 11th, 2024. If new vaccines are approved, we will add them to this list.
			We will be accepting any combination of the following:</p>
		<p>Approved by the US Food and Drug Administration</p>
		<ul>
			<li>Moderna</li>
			<li>J&amp;J (Jansen)</li>
			<li>Pfizer-BioNTech (Comirnaty)</li>
			<li>Novavax, Adjuvanted</li>
			<li>Spikevax</li>
		</ul>
		<p>Approved by the World Health Organization</p>
		<ul>
			<li>Sinopharm / BIBP</li>
			<li>AstraZeneca / Oxford</li>
			<li>Covaxin</li>
			<li>Sinovac</li>
			<li>Covishield</li>
			<li>Janssen–Cilag International NV</li>
			<li>SK Bioscience</li>
			<li>CanSinoBIO</li>
		</ul>
		<h3 id="miscellaneous-information">Miscellaneous Information</h3>
		<p>Please keep in mind that these precautions can only minimize the risk of COVID-19 infection and spread, they
			cannot eliminate it. Every person should balance their own health and risk factors before deciding whether
			to attend an event or large gathering.</p>
		<p>RPG Limit Break will continue to evaluate the pandemic’s developments as we approach RPGLB2024. RPG Limit
			Break reserves the right to cancel, reschedule, or move to a virtual event if it becomes too unsafe to hold
			in-person. Refunds for attendance fees will be issued if the event is cancelled or moved online.</p>
		<p>If you have any other questions about the COVID-19 policy information for RPGLB2024, please send an email
			to<br>
			<a href="mailto:safety@rpglimitbreak.com">safety@rpglimitbreak.com</a>. Thank you for your interest in our
			event!
		</p>
		<p class="subtle">Document last updated: February 10th, 2024</p>
	</mat-card>
</div>