<div class="text-content">
    <h1 class="title">Health Policy for RPG Limit Break 2025</h1>
    <p>
        Thank you for your interest in attending RPG Limit Break 2025 (RPGLB
        2025)! Our Health Policy will be a permanent fixture that replaces our
        COVID Policy of years prior. This policy is a living document (last
        updated November 27, 2024), and may be updated if public health
        regulations and/or safety recommendations change between now and the
        event.
    </p>
    <h3 id="rpg-limit-break-2025-health-and-safety-policy">
        RPG Limit Break 2025 Health and Safety Policy
    </h3>
    <ul>
        <li>
            RPGLB Staff encourages all attendees to stay up to date on COVID-19
            vaccinations, per the US Center for Disease Control's
            <a href="https://www.cdc.gov/covid/vaccines/stay-up-to-date.html"
                >guidelines</a
            >. While strongly recommended, COVID-19 vaccination will not be
            required for attending RPGLB 2025.
        </li>
        <li>
            Masks will be optional in all RPGLB 2025 event spaces. Any attendees
            who wish to mask while participating in RPGLB 2025 (as a runner,
            commentator, volunteer, etc) may do so, and RPGLB Staff will provide
            assistance to any accommodations said individual requires in wearing
            their mask in our spaces.
        </li>
        <li>
            To maintain a safe &amp; healthy environment for all RPGLB 2025
            attendees, anyone who displays symptoms of contagious illness (such
            as heavy or frequent coughing) will be asked by the RPGLB Safety
            Team to wear an N-95 mask (provided by RPGLB Staff) or leave the
            event spaces, depending on severity of symptoms.
        </li>
    </ul>
    <h3 id="what-else-is-rpg-limit-break-doing-to-maximize-attendee-safety">
        What else is RPG Limit Break doing to maximize attendee safety?
    </h3>
    <p>In addition to the above policy, we will also be doing the following:</p>
    <ul>
        <li>
            We will have a dedicated team whose responsibility will be to
            regularly sanitize contact areas of the event space, which will be
            done approximately every 2 hours.
        </li>
        <li>
            We will provide all attendees at check-in with masks, upon request.
        </li>
        <li>Hand sanitizer stations will be available in all event rooms.</li>
        <li>
            Air purifier units will be located in the Stage half of the Stream
            Room and in the Social Room.
        </li>
    </ul>
    <p>
        If at any time you have health concerns that you observe at our event,
        including yourself, please reach out to
        <a href="mailto:safety@rpglimitbreak.com">safety@rpglimitbreak.com</a>.
    </p>
    <p class="subtle">Document last updated: November 27, 2024</p>
</div>
