article {
	/* background: var(--color-primary); */
	display: grid;
	grid:
		64px
		1fr
		auto
		/ 1fr;
	height: 100%;
}

header {
	z-index: 6; /* Matches elevation */
}

main {
	/* margin: auto 0; */
}

footer {
}
