.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 11; /* Needed due to tables */
}

footer {
    margin-top: 2.5rem;
}

main {
    padding: 0 1.5em;
}

@media screen and (max-width: 725px) {
    header {
        position: unset;
    }
}

.msg-status {
    background-color: rgb(165, 51, 51);
}
