<div class="eventinfo-container">
	<div class="wrapper">
		<div class="donation-container">
			<div class="logo-bg nami"></div>
			<div>Total Raised:</div>
			<div
				*ngIf="donations?.total && donations.total > 0; else elseTotal"
				class="donation-box"
				id="donation-total"
			>
				{{ donations.total | moneify }}
			</div>
			<ng-template #elseTotal class="donation-box" id="donation-total"
				>Soon™</ng-template
			>

			<div>Donation Goal:</div>
			<div
				*ngIf="donations?.goal; else elseGoal"
				class="donation-box"
				id="donation-goal"
			>
				{{ donations.goal | moneify }}
			</div>
			<ng-template #elseGoal class="donation-box" id="donation-goal"
				>Soon™</ng-template
			>
			<a mat-raised-button color="accent" href="/donate" target="_blank"
				>DONATE</a
			>
			<a class="small-link" routerLink="/sweepstakes"
				>Prize sweepstakes rules</a
			>
		</div>
	</div>
</div>
