<form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
	<fieldset ngModelGroup="name">
		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" required />
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" required />
		</div>
	</fieldset>

	<div class="form-group"
		[ngClass]="{
			'has-danger': email.invalid && (email.dirty || email.touched),
			'has-success': email.valid && (email.dirty || email.touched)
		}">
		<label>Email</label>
		<input type="email" class="form-control" name="email" [(ngModel)]="model.email" required pattern="[^ @]*@[^ @]*" #email="ngModel" />
		<div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
			<p *ngIf="email.errors.required">Email is required</p>
			<p *ngIf="email.errors.pattern">Must be an email</p>
		</div>
	</div>

	<div class="form-group">
		<label>Username</label>
		<input type="text" class="form-control" name="username" [(ngModel)]="model.username" required minlength="3" />
	</div>

	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" name="password" [(ngModel)]="model.password" required minlength="12" #password="ngModel" />
		<div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
			<p *ngIf="password.errors.required">Password is required</p>
			<p *ngIf="password.errors.minlength">Password must be at least 12 characters</p>
		</div>
	</div>
	<button type="submit" [disabled]="f.invalid">Create</button>
</form>

<hr>
<h3>Debug info</h3>
<p style="color: lightGreen">{{message}}</p>
<div>f.value</div>
<pre>{{f.value | json}}</pre>
<div>model</div>
<pre>{{model | json}}</pre>
