.mat-form-field {
    display: block;
    max-width: 350px;
    margin-top: 20px;
}

.mat-form-field .mat-icon {
    cursor: pointer;
}

.msg-status {
    margin-top: 25px;
}

button {
    margin-top: 25px;
}
