<div class="wrapper">
	<h1>Reset your password</h1>
	<form *ngIf="showPasswordInputs"
		#f="ngForm"
		class="form-password"
		(ngSubmit)="resetPassword()">
		<mat-form-field>
			<input
				matInput
				[type]="hidePassword ? 'password' : 'text'"
				[(ngModel)]="passwordData.new"
				name="newPassword"
				placeholder="New password"
				minlength="12"
				maxlength="128"
				required />
			<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility': 'visibility_off' }}</mat-icon>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				[type]="hidePassword2 ? 'password' : 'text'"
				[(ngModel)]="passwordData.confirm"
				name="newPasswordConfirm"
				placeholder="Confirm new password"
				minlength="12"
				maxlength="128"
				required />
			<mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">{{ hidePassword2 ? 'visibility': 'visibility_off' }}</mat-icon>
		</mat-form-field>
		<button mat-raised-button type="submit" color="primary" [disabled]="!f.form.valid">Change Password</button>
	</form>
	<div *ngIf="statusMessage"
		[class]="'msg-status ' + status">
		{{statusMessage}}
	</div>
	<mat-progress-bar *ngIf="isFetching"
		mode="indeterminate"
		color="primary">
	</mat-progress-bar>
	<form *ngIf="!showPasswordInputs && status !== 'success'"
		#uf="ngForm"
		(ngSubmit)="sendPasswordResetEmail()">
		<mat-form-field>
			<input
				#email="ngModel"
				matInput
				type="email"
				name="email"
				placeholder="Email"
				minlength="3"
				maxlength="64"
				pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
				[(ngModel)]="emailData"
				required />
			<mat-error *ngIf="email.errors?.pattern">Must be a valid email address (all lowercase)</mat-error>
		</mat-form-field>
		<button
			#btn
			mat-raised-button
			type="submit"
			color="accent"
			[disabled]="!uf.form.valid">
			Send password reset email
		</button>
	</form>
</div>
