.wrapper {
    max-width: 1600px;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10%;
}

.full-width {
    flex-basis: 100%;
}

.user-list {
    width: 45%;
    font-size: 0.75em;
}

/* .user-list.all-users {
} */

hr {
    border-color:#666;
}

.header {
    font-weight: 700;
}

.subtle {
    color: rgb(148, 148, 148);
    font-size: 0.6em;
}

.user {
    padding: 1.5px 5px;
}

.user:hover {
    background-color: #555;
}

.user .subtle {
    font-size: 0.9em;
    float: right;
}