<div class="wrapper">
	<mat-card>
		<p>If you are a registered <strong>attendee</strong>:</p>
		<ul>
			<li>Update your planned attendance dates by clicking “Update registration” below</li>
			<li>Cancel your May hotel room reservation (via link in your hotel confirmation email or phone call to 801-539-1515)</li>
			<li>Make a new <a href="https://doubletree.hilton.com/en/dt/groups/personalized/S/SLCARDT-RLB-20201008/index.jhtml?WT.mc_id=POG" target="_blank">hotel room reservation</a> for October</li>
			<li>If you are no longer planning to attend, send an email to <a href="mailto:management@rpglimitbreak.com">management@rpglimitbreak.com</a> by September 13, 2020, to request an attendance fee refund</li>
		</ul>
		<p>If you are a <strong>runner</strong> or <strong>backup runner</strong>:</p>
		<ul>
			<li>Update the planned attendance dates by clicking “Update registration” below <strong>no later than September 13, 2020</strong>, to reconfirm your attendance - those dates will be used to schedule your run (send an email to <a href="mailto:committee@rpglimitbreak.com">committee@rpglimitbreak.com</a> if there’s anything else you’d like us to know)</li>
			<li>Follow the steps for attendees above</li>
			<li>If you are not planning to attend, send an email to <a href="mailto:committee@rpglimitbreak.com">committee@rpglimitbreak.com</a> to let us know, and we can defer your run to RPGLB 2021 if desired</li>
		</ul>
		<p>If you are planning to <strong>volunteer</strong> at RPGLB 2020:</p>
		<ul>
			<li>If you have already submitted a volunteer application for the original May event, keep an eye out for an email that you’ll receive from the volunteer coordinators in order to reconfirm your attendance</li>
			<li>Follow the steps for attendees above</li>
			<li>If you have not already submitted a volunteer application, go to the <a routerLink="/volunteer">volunteer page</a> and submit one by August 27, 2020.</li>
		</ul>
	</mat-card>


	<h1 class="no-bold">{{userFromToken.username}}</h1>
	<h3>Registration</h3>
	<p>You are currently <span [class]="userFromToken.roles.includes('attendee') ? 'success' : 'warn'">{{userFromToken.roles.includes('attendee') ? 'registered' : 'not registered'}}</span> for {{speedrunEvent?.name}}.
	<!-- TODO: Make the message below change wording based on pre- or post-registration period. -->
	<p *ngIf="!speedrunEvent?.isRegistrationOpen">Registration is not open. See the home page for a detailed timeline.</p>
	<div>
		<a *ngIf="userFromToken.roles.includes('attendee')" routerLink="/register">Update registration</a>
		<a *ngIf="!userFromToken.roles.includes('attendee') && speedrunEvent?.isRegistrationOpen" routerLink="/register">Register to attend {{speedrunEvent?.name}}</a>
	</div>
	<br /><br /><br />
	<h3>Your submissions</h3>
	<ng-container *ngIf="games && games.length > 0">
		<app-submission-list #submissionList
			[dataSource]="games"
			[showFilter]="false"
			[showPagination]="false"
			[showSelections]="speedrunEvent?.isGamesListPublic">
		</app-submission-list>
	</ng-container>
	<div *ngIf="!games || (games && games.length === 0)">You have no submissions.</div>
	<div *ngIf="!speedrunEvent?.areGameSubmissionsOpen">Submissions are currently closed.</div>
	<br />
	<a *ngIf="speedrunEvent?.areGameSubmissionsOpen" routerLink="/submissions/create">Create / Edit Submissions</a>
	<br /><br /><br />
	<h3>Account info</h3>
	<form>
		<mat-form-field class="mat-form-field-read-only">
			<input
				matInput
				type="text"
				[(ngModel)]="user.firstName"
				name="firstName"
				placeholder="First name"
				maxlength="32"
				readonly />
		</mat-form-field>
		<mat-form-field class="mat-form-field-read-only">
			<input
				matInput
				type="text"
				[(ngModel)]="user.lastName"
				name="lastName"
				placeholder="Last name"
				maxlength="32"
				readonly />
		</mat-form-field>
		<mat-form-field class="mat-form-field-read-only">
			<input
				matInput
				type="email"
				[(ngModel)]="user.email"
				name="email"
				placeholder="Email"
				maxlength="64"
				readonly />
		</mat-form-field>
	</form>
	<h3>Need to change your password?</h3>
	<form #f="ngForm" class="form-password" (ngSubmit)="changePassword()">
		<mat-form-field>
			<input
				matInput
				[type]="hidePassword ? 'password' : 'text'"
				[(ngModel)]="passwordData.current"
				name="currentPassword"
				placeholder="Current password"
				maxlength="128"
				required />
			<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility': 'visibility_off' }}</mat-icon>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				[type]="hidePassword2 ? 'password' : 'text'"
				[(ngModel)]="passwordData.new"
				name="newPassword"
				placeholder="New password"
				minlength="12"
				maxlength="128"
				required />
			<mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">{{ hidePassword2 ? 'visibility': 'visibility_off' }}</mat-icon>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				[type]="hidePassword3 ? 'password' : 'text'"
				[(ngModel)]="passwordData.confirm"
				name="newPasswordConfirm"
				placeholder="Confirm new password"
				minlength="12"
				maxlength="128"
				required />
			<mat-icon matSuffix (click)="hidePassword3 = !hidePassword3">{{ hidePassword3 ? 'visibility': 'visibility_off' }}</mat-icon>
		</mat-form-field>
		<button mat-raised-button type="submit" color="primary" [disabled]="!f.form.valid">Change Password</button>
		<div *ngIf="statusMessage" [class]="'msg-status ' + status">{{statusMessage}}</div>
	</form>
</div>
