<div class="wrapper">
	<h1 class="no-bold">{{user.username}}</h1>
	<h3>Registration</h3>
	<p>You are currently <span [class]="user.roles.includes('attendee') ? 'success' : 'warn'">{{user.roles.includes('attendee') ? 'registered' : 'not registered'}}</span> for {{speedrunEvent?.name}}.
	<!-- TODO: Make the message below change wording based on pre- or post-registration period. -->
	<p *ngIf="!speedrunEvent?.isRegistrationOpen">Registration is not open. See the home page for a detailed timeline.</p>
	<div>
		<a *ngIf="user.roles.includes('attendee')" routerLink="/register">Update registration</a>
		<a *ngIf="!user.roles.includes('attendee') && speedrunEvent?.isRegistrationOpen" routerLink="/register">Register to attend {{speedrunEvent?.name}}</a>
	</div>
	<br /><br /><br />
	<h3>Your submissions</h3>
	<ng-container *ngIf="games && games.length > 0">
		<app-submission-list #submissionList
			[dataSource]="games"
			[showFilter]="false"
			[showPagination]="false"
			[showSelections]="speedrunEvent?.isGamesListPublic">
		</app-submission-list>
	</ng-container>
	<div *ngIf="!games || (games && games.length === 0)">You have no submissions.</div>
	<div *ngIf="!speedrunEvent?.areGameSubmissionsOpen">Submissions are currently closed.</div>
	<br />
	<a *ngIf="speedrunEvent?.areGameSubmissionsOpen" routerLink="/submissions/create">Create / Edit Submissions</a>
	<br /><br /><br />
	<h3>Need to change your password?</h3>
	<form #f="ngForm" class="form-password" (ngSubmit)="changePassword()">
		<mat-form-field>
			<input
				matInput
				[type]="hidePassword ? 'password' : 'text'"
				[(ngModel)]="passwordData.current"
				name="currentPassword"
				placeholder="Current password"
				maxlength="128"
				required />
			<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility': 'visibility_off' }}</mat-icon>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				[type]="hidePassword2 ? 'password' : 'text'"
				[(ngModel)]="passwordData.new"
				name="newPassword"
				placeholder="New password"
				minlength="12"
				maxlength="128"
				required />
			<mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">{{ hidePassword2 ? 'visibility': 'visibility_off' }}</mat-icon>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				[type]="hidePassword3 ? 'password' : 'text'"
				[(ngModel)]="passwordData.confirm"
				name="newPasswordConfirm"
				placeholder="Confirm new password"
				minlength="12"
				maxlength="128"
				required />
			<mat-icon matSuffix (click)="hidePassword3 = !hidePassword3">{{ hidePassword3 ? 'visibility': 'visibility_off' }}</mat-icon>
		</mat-form-field>
		<button mat-raised-button type="submit" color="primary" [disabled]="!f.form.valid">Change Password</button>
		<div *ngIf="statusMessage" [class]="'msg-status ' + status">{{statusMessage}}</div>
	</form>
</div>
