<div class="text-content">
    <a
        *ngIf="
            userFromToken.roles.includes('admin') ||
            userFromToken.roles.includes('safety')
        "
        routerLink="/admin"
        class="float-right"
        >Admin dashboard</a
    >
    <h1 class="no-bold">{{ userFromToken.username }}</h1>
    <h2>Registration</h2>
    <p *ngIf="speedrunEvent?.state !== 'post'">
        You are currently
        <span
            [class]="
                userFromToken.roles.includes('attendee') ? 'success' : 'warn'
            "
            >{{
                userFromToken.roles.includes("attendee")
                    ? "registered"
                    : "not registered"
            }}</span
        >
        for {{ speedrunEvent?.name }}.
        <!-- TODO: Make the message below change wording based on pre- or post-registration period. -->
        <span *ngIf="!speedrunEvent?.isRegistrationOpen"
            >The open registration period has either yet to open or has passed.
            Please see the home page for a detailed timeline.</span
        >
    </p>
    <div *ngIf="speedrunEvent?.state === 'post'">
        <p *ngIf="userFromToken.roles.includes('attendee')">
            Thanks for attending {{ speedrunEvent?.name }}! We hope you had a
            great time and to see you again next year!
        </p>
        <p *ngIf="!userFromToken.roles.includes('attendee')">
            {{ speedrunEvent?.name }} is all wrapped up but we hope to see you
            as an attendee next year!
        </p>
    </div>
    <div>
        <a
            *ngIf="
                speedrunEvent?.state !== 'post' &&
                userFromToken.roles.includes('attendee')
            "
            routerLink="/register"
            >Update registration</a
        >
        <a
            *ngIf="
                !userFromToken.roles.includes('attendee') &&
                speedrunEvent?.isRegistrationOpen
            "
            routerLink="/register"
            >Register to attend {{ speedrunEvent?.name }}</a
        >
    </div>

    <ng-container
        *ngIf="
            speedrunEvent?.state !== 'post' &&
            userFromToken.roles.includes('attendee')
        "
    >
        <br />
        <h2>What's next?</h2>
        <p>
            Please use the following link to book a hotel room at the event
            rate:
            <a
                href="https://www.hilton.com/en/attend-my-event/slcardt-rpg-e1036ad1-9137-40eb-b5ae-f807aee0e10c/"
                >Book a room</a
            >
        </p>
    </ng-container>
    <p *ngIf="speedrunEvent?.areVolunteerSubmissionsOpen">
        We can always use more volunteers! Check out the
        <a routerLink="/volunteer">volunteering guide</a> for more information.
        On-site and remote positions available!
    </p>

    <br />

    <h2>Your submissions</h2>
    <ng-container *ngIf="games && games.length > 0">
        <app-submission-list
            #submissionList
            [dataSource]="games"
            [showFilter]="false"
            [showPagination]="false"
            [showSelections]="speedrunEvent?.isGamesListPublic"
        >
        </app-submission-list>
    </ng-container>
    <p *ngIf="!games || (games && games.length === 0)">
        You have not submitted any runs.
        <span *ngIf="!speedrunEvent?.areGameSubmissionsOpen"
            >Submissions are not currently open.</span
        >
    </p>
    <br />
    <a
        *ngIf="speedrunEvent?.areGameSubmissionsOpen"
        routerLink="/submissions/create"
        >Create / Edit Submissions</a
    >
    <br />
    <h2>Account info</h2>
    <form>
        <mat-form-field class="mat-form-field-read-only">
            <input
                matInput
                type="text"
                [(ngModel)]="user.firstName"
                name="firstName"
                placeholder="First name"
                maxlength="32"
                readonly
            />
        </mat-form-field>
        <mat-form-field class="mat-form-field-read-only">
            <input
                matInput
                type="text"
                [(ngModel)]="user.lastName"
                name="lastName"
                placeholder="Last name"
                maxlength="32"
                readonly
            />
        </mat-form-field>
        <mat-form-field class="mat-form-field-read-only">
            <input
                matInput
                type="email"
                [(ngModel)]="user.email"
                name="email"
                placeholder="Email"
                maxlength="64"
                readonly
            />
        </mat-form-field>
    </form>
    <h2>Need to change your password?</h2>
    <form #f="ngForm" class="form-password" (ngSubmit)="changePassword()">
        <mat-form-field>
            <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                [(ngModel)]="passwordData.current"
                name="currentPassword"
                placeholder="Current password"
                maxlength="128"
                required
            />
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
                hidePassword ? "visibility" : "visibility_off"
            }}</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                [type]="hidePassword2 ? 'password' : 'text'"
                [(ngModel)]="passwordData.new"
                name="newPassword"
                placeholder="New password"
                minlength="12"
                maxlength="128"
                required
            />
            <mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">{{
                hidePassword2 ? "visibility" : "visibility_off"
            }}</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                [type]="hidePassword3 ? 'password' : 'text'"
                [(ngModel)]="passwordData.confirm"
                name="newPasswordConfirm"
                placeholder="Confirm new password"
                minlength="12"
                maxlength="128"
                required
            />
            <mat-icon matSuffix (click)="hidePassword3 = !hidePassword3">{{
                hidePassword3 ? "visibility" : "visibility_off"
            }}</mat-icon>
        </mat-form-field>
        <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!f.form.valid"
        >
            Change Password
        </button>
        <div *ngIf="statusMessage" [class]="'msg-status ' + status">
            {{ statusMessage }}
        </div>
    </form>
</div>
