.main-content {
	grid-area: content;
	padding: 25px;
	max-width: 1600px;
	margin: 0 auto;
}

.blog-title {
	margin-bottom: 5px;
}

.blog-post-header {

}

.blog-post-end {
	width: 20%;
}

.timeline {
	max-width: 500px;
	margin: auto;
}

.soft {
	color: rgba(255, 255, 255, 0.8);
	font-size: 0.8em;
	font-style: italic;
}