<div class="text-content">
    <h1 class="title">News Posts</h1>

    <!-- START BLOG POST -->
    <h2 id="2025announce" class="blog-title">
        Announcing RPG Limit Break 2025!
    </h2>
    <em>November 27, 2024</em>
    <hr />
    <div class="timeline"><app-timeline></app-timeline></div>
    <p>
        We are happy to announce the event information for RPG Limit Break 2025!
        The marathon will take place May 18th - 24th in Denver, CO, and will be
        a hybrid event with options to participate remotely.
    </p>
    <p>
        We have announced our
        <a routerLink="/health">Health Policy for 2025</a>.
    </p>
    <p>
        NAMI has been a great partner for RPGLB, providing support for the event
        and promoting the stream, so we're happy to announce we'll be partnering
        with them again for RPGLB 2025. Charity selection is something we will
        always re-evaluate on an annual basis, based on community &amp; viewer
        feedback.
    </p>
    <p>
        As in previous years, 100% of donations made during the event will be
        shared by NAMI (National Alliance on Mental Illness) at the national
        level and NAMI Colorado, the local NAMI chapter that works closely with
        our event, to provide education and support to people affected by mental
        illness and their families, including young adults. Both organizations
        raise public awareness about mental illness to reduce stigma and
        advocate for access to and coverage of mental health care. They provide
        information and resources to people around the world at
        <a href="https://nami.org">https://nami.org</a>.
    </p>
    <h3 id="rpglb-2025-venue">RPGLB 2025 Venue</h3>
    <p>
        For our 2025 event, we will be moving to Denver Tech Center area in
        Denver, CO. A lot of time and effort went into researching not only
        individual hotels, but entire regions in the west half of the United
        States searching for our new home. We are reasonably confident that we
        will be in our new area for the foreseeable future. Excitingly, due to
        our new venue having a larger airport nearby and lower priced hotel
        rooms, it should also be more affordable to attend for most attendees!
        There's also easily accessible public transit right nearby, and plenty
        of locations, food and otherwise, within immediate walking distance.
    </p>
    <p>
        The attendee cap for RPGLB 2025 will be 200 - we have an initial block
        of 60 hotel rooms per event night. Hotel rooms will be $119/night + tax
        with complimentary breakfast and parking. Room reservation details will
        be posted when RPGLB 2025 event registration opens on March 16, 2025.
    </p>
    <p>
        All attendees must be at least 18 years old - minors are welcome to
        attend free of charge, as long as they're accompanied by a
        parent/guardian that is registered &amp; paid for the event. Minors will
        need to comply with the
        <a routerLink="/health">Health Policy</a>, the same as adult attendees.
        The amount and names of minors will need to be noted in the
        parent/guardian's event registration, so we can issue them a Minor badge
        during their attendance.
    </p>
    <h3 id="registration-processattendance-costs">
        Registration Process/Attendance Costs
    </h3>
    <p>
        The attendance fee will be $75 USD for the full event. There will not be
        single-day passes. Registration &amp; attendee fee payment will be done
        via
        <a routerLink="/">https://rpglimitbreak.com</a>
        (with Stripe used as payment processor).
    </p>
    <p>
        Game submissions will be open February 2-18, 2025 (via
        <a routerLink="/">https://rpglimitbreak.com</a>) and the schedule will
        be posted March 16, 2025. There will not be a separate game list release
        or additional submission period. For more information when preparing
        your submission, check out our
        <a routerLink="/submissions/guidelines">submission guidelines</a>
        page.
    </p>
    <h3 id="rpglb-2025-remote-runs">RPGLB 2025 Remote Runs</h3>
    <p>
        RPGLB 2025 will be an in-person event and we will be preferring onsite
        runs; but in order to be inclusive to runners that are unable to attend
        in person, we will also allow for remote run submissions (performed from
        the runner's home). Remote runs will be expected to follow the same
        <a routerLink="/submissions/guidelines">guidelines</a>
        as onsite runs.
    </p>
    <h3 id="questions-or-feedback">Questions or Feedback?</h3>
    <p>Feel free to ask any questions about our event via:</p>
    <ul>
        <li>
            <p>
                <a href="http://discord.gg/rpglb">RPGLB Discord</a>, in the
                channel #rpglb-charity-marathon
            </p>
        </li>
        <li>
            <p><a href="mailto:management@rpglimitbreak.com">E-mail</a></p>
        </li>
        <li>
            <p>Any of our social links in the footer of our website.</p>
        </li>
    </ul>
    <!-- END BLOG POST -->

    <br />
    <hr class="blog-post-end" />
</div>
