.main-content {
	grid-area: content;
	padding: 25px;
	max-width: 1600px;
	margin: 0 auto;
}

.blog-title {
	margin-bottom: 5px;
}

.blog-post-header {

}

.blog-post-end {
	width: 20%;
}