<div class="main-content">
  <h1 class="title">News Posts</h1>
  <mat-card>
    <!-- START BLOG POST -->
    <h2 id="2024announce" class="blog-title">Announcing RPG Limit Break 2024!</h2>
    <em>February 4, 2024</em>
    <hr>
    <div class="timeline"><app-timeline></app-timeline></div>
    <p>We are happy to announce the event information for RPG Limit Break 2024! The marathon will take place May 19th - 25th in Salt Lake City, UT, and will be a hybrid event with options to participate remotely.</p>
    <p>We will be announcing our COVID-19 Safety Policy, including any potential vaccination or masking requirements for attendance, on February 11th.</p>
    <p>NAMI has been a great partner for RPGLB, providing support for the event and promoting the stream, so we’re happy to announce we’ll be partnering with them again for RPGLB 2024. Charity selection is something we will always re-evaluate on an annual basis, based on community &amp; viewer feedback.</p>
    <p>As in previous years, 100% of donations made during the event will be shared by NAMI (National Alliance on Mental Illness) at the national level and NAMI Utah, the local NAMI chapter that works closely with our event, to provide education and support to people affected by mental illness and their families, including young adults. Both organizations raise public awareness about mental illness to reduce stigma and advocate for access to and coverage of mental health care. They provide information and resources to people around the world at <a href="https://nami.org">https://nami.org</a>.</p>
    <h3>RPGLB 2024 Venue</h3>
    <p>We’ll be returning to the DoubleTree Hotel-Salt Lake City Airport for RPGLB 2024, which was the venue for the past 3 in-person RPGLB events. Other venues were considered; and in order to provide an affordable venue with convenient international airport access and which meets our conference space &amp; tech needs, we have decided to return to the DoubleTree for this year’s event.</p>
    <p>The attendee cap for RPGLB 2024 will be 200 - we have an initial block of 40-50 hotel rooms per event night (weighted based on attendance data from previous events). Hotel rooms will be $159/night + tax for 1-2 people or $179/night + tax for 3-4 people (daily breakfast is included in these prices), and room reservation details will be posted when RPGLB event registration opens on March 17, 2024.</p>
    <p>All attendees must be at least 18 years old - minors are welcome to attend free of charge, as long as they’re accompanied by a parent/guardian that is registered &amp; paid for the event. Minors will need to comply with the COVID Safety Policy, the same as adult attendees. The amount and names of minors will need to be noted in the parent/guardian’s event registration, so we can issue them a Minor badge during their attendance.</p>
    <h3>Registration Process/Attendance Costs</h3>
    <p>The attendance fee will be $75 USD for the full event. There will not be single-day passes. Registration &amp; attendee fee payment will be done via <a href="https://rpglimitbreak.com">https://rpglimitbreak.com</a> (with Stripe used as payment processor).</p>
    <p>Game submissions will be open February 4-18, 2024 (via <a href="https://rpglimitbreak.com">https://rpglimitbreak.com</a>) and the schedule will be posted March 17, 2024. There will not be a separate game list release or additional submission period. For more information when preparing your submission, check out our <a routerLink="/submissions/guidelines">submission guidelines</a> page.</p>
    <h3>RPGLB 2024 Remote Runs</h3>
    <p>RPGLB 2024 will be an in-person event and we will be preferring onsite runs; but in order to be inclusive to runners that are unable to attend in person due to the pandemic or other reasons, we will also allow for remote run submissions (performed from the runner’s home). Remote runs will be expected to follow the same <a routerLink="/submissions/guidelines">guidelines</a> as onsite runs (such as retro games being played on original hardware or an official digital port).</p>
    <h3>Questions or Feedback?</h3>
    <p>Feel free to ask any questions about our event via:</p>
    <ul>
      <li><p><a href="http://discord.gg/rpglb">RPGLB Discord</a>, in the channel #rpglb-charity-marathon</p></li>
      <li><p><a href="https://twitter.com/rpglimitbreak">RPGLB Twitter</a></p></li>
      <li><p><a href="mailto:management@rpglimitbreak.com">E-mail</a></p></li>
    </ul>

    <!-- END BLOG POST -->
    <br />
    <hr class="blog-post-end">
  </mat-card>
</div>

