<div class="main-content">
  <h1 class="title">Blog Posts</h1>
  <mat-card>

<!-- START BLOG POST -->

    <h2 id="2020announce" class="blog-title">Announcing: RPG Limit Break 2020!</h2>
    <em>December 19th, 2019</em>
    <hr>
    <p>We are happy to announce the event information for RPG Limit Break 2020! The marathon will occur on May 10th-16th in Salt Lake City, UT, with a more specific timeline leading up to the event on the front page.</p>
    <p>As in previous years, 100% of donations made during the event will be shared by NAMI (National Alliance on Mental Illness) at the national level and NAMI Utah, the local NAMI chapter that works closely with our event, to provide education and support to people affected by mental illness and their families, including young adults. Both organizations raise public awareness about mental illness to reduce stigma and advocate for access to and coverage of mental health care. They provide information and resources to people around the world at <a href="https://nami.org">https://nami.org</a>.</p>
    <p>NAMI has been a great partner for RPGLB, providing support for the event and promoting the stream, so we’re happy to announce we’ll be partnering with them again for RPGLB 2020. Charity selection is something we will always re-evaluate on an annual basis, based on community &amp; viewer feedback.</p>
    <p>If you are interested in attending, please see <a href="/blog#2020venue">this page</a> for venue specifics.</p>
    <p>For game submission guidelines, please see <a href="/blog#2020submissions">this page</a>.</p>
    <p>Feel free to ask any questions about our event via:</p>
    <ul>
    <li>
    <p><a href="http://discord.gg/rpglb">RPGLB Discord</a>, in the channel #rpglb-charity-marathon</p>
    </li>
    <li>
    <p><a href="https://twitter.com/rpglimitbreak">RPGLB Twitter</a></p>
    </li>
    <li>
    <p><a href="mailto:management@rpglimitbreak.com">E-mail</a></p>
    </li>
    </ul>

<!-- END BLOG POST -->

    <br />
    <hr class="blog-post-end">
    <br />

<!-- START BLOG POST -->

    <h2 id="2020venue" class="blog-title">RPGLB 2020 Venue Details</h2>
    <em>December 19th, 2019</em>
    <hr class="blog-post-header" />
    <p>After considering multiple venues and attendee feedback from previous events, we’ve decided to return to the <strong>DoubleTree Hotel-Salt Lake City Airport</strong> for RPGLB 2020. We did give serious consideration to another venue that would provide the main amenity lacked by the DoubleTree (more dining/convenience store/etc options within walking distance), but it unfortunately did not end up having the Internet bandwidth to support our stream and other needs.</p>
    <p>There will be some changes with the venue compared to RPGLB 2019:</p>
    <ul>
    <li>
    <p>We will be renting more conference room space, to allow for a larger stream room and a private practice room.</p>
    </li>
    <li>
    <p>NAMI is arranging for food trucks to be onsite between 5pm-9pm during main event dates (Sunday-Saturday). NAMI will not be financing full meal catering this time, but will be providing snacks and other amenities - exact details are still being worked out.</p>
    </li>
    <li>
    <p>There will not be construction/renovations going on at the hotel during the event.</p>
    </li>
    <li>
    <p>Event dates have been moved back to the 2nd week of May based on attendee feedback.</p>
    </li>
    </ul>
    <p>Additional amenities unchanged from 2019:</p>
    <ul>
    <li>
    <p>The DoubleTree has a free shuttle to and from the SLC airport, with 24-hour service (runs every 20-30 minutes between 5AM-10PM, and late-night pickups are available by phone)</p>
    </li>
    <li>
    <p>Onsite restaurant, bar, and 24-hour snack/pantry market</p>
    </li>
    <li>
    <p>Fully online room booking</p>
    </li>
    <li>
    <p>Free parking for all event attendees (whether staying at the hotel or not)</p>
    </li>
    <li>
    <p>Free Wi-Fi in conference/hotel rooms</p>
    </li>
    </ul>
    <p>The attendee cap for RPGLB 2020 will be <strong>350</strong> - we have an initial block of 70-90 hotel rooms per event night (weighted based on attendance data from previous events).</p>
    <p>Hotel Reservation Info (in the future we may delay releasing this info until registration opens):</p>
    <p>DoubleTree by Hilton - Salt Lake City Airport</p>
    <p>5151 Wiley Post Way</p>
    <p>Salt Lake City, UT 84116</p>
    <p>Phone: 801-539-1515</p>
    <p>Reservation Link:  <a href="https://doubletree.hilton.com/en/dt/groups/personalized/S/SLCARDT-RPG-20200507/index.jhtml?WT.mc_id=POG">https://doubletree.hilton.com/en/dt/groups/personalized/S/SLCARDT-RPG-20200507/index.jhtml?WT.mc_id=POG</a></p>
    <p>Directions/Amenities:  <a href="https://doubletree3.hilton.com/en/hotels/utah/doubletree-by-hilton-hotel-salt-lake-city-airport-SLCARDT/index.html">https://doubletree3.hilton.com/en/hotels/utah/doubletree-by-hilton-hotel-salt-lake-city-airport-SLCARDT/index.html</a></p>
    <p>Hotel rooms (before taxes) are $123/night for 1-2 people and $133/night for 3-4 people, so a 4-person room would be approximately $33 per person per night (plus taxes) if split evenly. Daily breakfast is included for each hotel guest. Roommate arrangements can be made via the RPGLB 2020 Discord channel (which will be opened after event registration starts in February).</p>
    <p>Room reservations can be made online at the above URL or by phone at 801-539-1515, and need to be made by <strong>April 17th, 2020</strong> to qualify for our event rate. For phone reservations, please mention that you’re attending RPG Limit Break, so you get the event rate.</p>
    <p>The hotel does have an onsite bar (legal drinking age in the US is 21). Alcohol is not allowed to be brought into the RPGLB event spaces, and obviously drunk attendees will be asked to leave the stream/practice rooms by Enforcement staff.</p>
    <p>All attendees must be at least 18 years old - minors are welcome to attend free of charge, as long as they’re accompanied by a parent/guardian that is registered &amp; paid for the event.</p>
    <p>Registration Process/Attendance Costs:</p>
    <p>The attendance fee will be $50 USD for the full event. There will not be single-day passes. Registration will be done via <a href="https://rpglimitbreak.com/">https://rpglimitbreak.com</a> (with Stripe used as payment processor).</p>

<!-- END BLOG POST -->

    <br />
    <hr class="blog-post-end">
    <br />

<!-- START BLOG POST -->

    <h2 id="2020submissions" class="blog-title">RPGLB 2020 Submission Guidelines</h2>
    <em>December 19th, 2019</em>
    <hr class="blog-post-header" />
    <p>Game submissions will be open January 15-26, 2020 (via <a href="https://rpglimitbreak.com">https://rpglimitbreak.com</a>), the game list will be posted on February 16, 2020, and the full schedule on March 1, 2020.</p>
    <p>Game Selection Criteria:</p>
    <p><strong>Length</strong> - This will be a 6 1/2-day marathon (running roughly from noon on 5/10 to midnight the night of 5/16, for about 156 total hours). We want to have as much variety on the schedule as possible (both for games and runners), so 6+ hour runs will need to be very strong in the below areas.</p>
    <p><strong>Donation Incentives</strong> - What we’re here for (along with having a fun week)! Can you name characters? Are there storyline branches/character choices/optional bosses that work in a speedrun route? Are there in-jokes in the game that fans would donate to see (ie the Phantom Train Suplex)? Strong donation incentives will be especially important for longer runs. Note that donation incentive submissions will be combined with game submissions in January.</p>
    <p><strong>Entertainment</strong> - Does the run have interesting tricks/strategies that make for engaging commentary? Is there variety in the gameplay throughout the course of the run? What is the cutscene to action ratio like?</p>
    <p><strong>Game Popularity</strong> - One of the purposes of RPGLB is giving RPGs that aren’t popular enough to make a Games Done Quick schedule a chance in the spotlight; but at the same time we want to have games on the schedule that a decent chunk of our audience has heard of and will stick around for. More obscure games also tend to have difficulty getting commentators besides the runner; and having strong run commentary is a big focus for RPGLB.</p>
    <p><strong>Marathon Safety</strong> - How consistently can your run be finished within the estimate you give? How big of an impact does randomness have on the run? How likely would it have to be mercy killed to prevent going significantly over estimate?</p>
    <p><strong>Language</strong> - As our main audience is going to be English-speakers, English text is generally preferred over Japanese or other languages, especially for text-heavy games. This will be less of a concern for games with skippable cutscenes and/or where the speedrun is easy to follow through animations and other non-text means. Voice acting in non-English languages is always fine, and if selectable can make for a good donation incentive.</p>
    <p><strong>Recency</strong> - How recently has your game been featured in an RPGLB event (annual main charity events only - online community events hosted on the RPGLB Twitch channel do NOT count towards this criteria)? If it’s been in a previous event, does the game have new routing/strategies, or does your submission offer any new run categories/donation incentives?</p>
    <p><strong>Personal Best</strong> - If your game has a community leaderboard, how close is your personal best to the fastest times? It is NOT expected for RPGLB runners to be record holders or close (especially given that the fastest speedruns of many RPGs use routes/strategies that aren’t marathon safe); but having a strong personal best makes for a stronger submission. For co-op run submissions, the individual personal bests of all submitters will be looked at by the committee (since it may fall to any of them to do the run solo if co-op partners later withdraw).</p>
    <p><strong>Submission Video</strong> - All submissions should include a video of you doing a run of your game &amp; category within your estimate. It’s fine to use either your personal best video or a specially recorded submission video - do whatever you feel makes a stronger pitch for your run.</p>
    <p>Defining what is/isn’t an RPG is something we do not attempt - our goal is to produce a schedule of games that appeal to fans of the RPG genre; and the RPGLB games committee decides on a case-by-case basis which offered games are/aren’t good fits for our marathon.</p>
    <p>RPGLB staff will have basic NTSC-U SD consoles (SNES, PS2, etc) on hand for the stream room (though it's recommended for runners to bring their own for practice) and gaming PCs for the stream and practice rooms. For HD consoles (PS4, PSTV, Switch, etc), it is expected for runners to bring their own consoles to ensure no installation/patching/load time issues.</p>
    <p>It is expected that all console-based games will be run on original console (digital ports such as VC/PSN are fine, as are flash/reproduction cartridges). PC-based emulators (BizHawk, SNES9X, ePSXe, etc) are acceptable for submission videos, as long as runners will be prepared to run the game on console at the marathon (including making any needed arrangements for a controller & cartridge/disc).</p>

<!-- END BLOG POST -->

    <br />
    <hr class="blog-post-end">
  </mat-card>
</div>

