.blog-title {
    margin-bottom: 1rem;
}

.blog-post-end {
    width: 20%;
}

.blog-archived {
    display: none;
}

.timeline {
    max-width: 500px;
    margin: auto;
}

.soft {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8em;
    font-style: italic;
}
