.submission-flow-container {
    max-width: 1280px;
    margin: 0 auto 50px;
}

.mat-stepper-horizontal {
    margin-top: 2rem;
}

::ng-deep .mat-horizontal-stepper-header-container {
    flex-wrap: wrap;
    overflow: hidden;
}

.step-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .step-controls {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}

.step-controls.step-controls-bottom {
    margin-top: 2rem;
}

.step-controls [matsteppernext] .mat-icon {
    margin-right: 0;
    margin-left: 10px;
}

.step-controls .mat-icon {
    margin-right: 10px;
}

.center-wrapper {
    text-align: center;
    margin: 5em auto;
}

.btn-add-game {
    text-transform: capitalize;
}

.submission-summary {
    width: 100%;
}

.submission-summary-row {
    display: grid;
    grid: "game cats" / 1fr 2fr;
    border-bottom: 2px inset white;
}

.submission-summary > .game-name {
    grid-area: game;
}

.submission-summary > .category-container {
    grid-area: cats;
    display: flex;
    flex-direction: column;
}

.availability p {
    text-wrap: balance;
}

.availability > form .mat-form-field {
    width: 100%;
    max-width: 540px;
}

hr {
    width: 50vw;
}
