.main-content {
	/* background: url('assets/images/bg.png') 0 0/1920px 1080px no-repeat; */
	/* grid-area: content; */
	padding: 25px;
	display: grid;
	grid: 'embed' auto
		  'about' auto / 1fr;
	grid-gap: 25px;
}

.logo-small {
	height: 125px;
}

/* .logo-bg {
	flex-grow: 1;
	min-width: 300px;
}
.rpglb {
	background: url('assets/images/logo_1200x424.png') left center/contain no-repeat;
}
.nami {
	background: url('assets/images/nami_white.png') right center/contain no-repeat;
} */
/* .sidebar {
	background-color: var(--color-primary);
	grid-area: sidebar;
	padding: 25px;
} */

.embed-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.embed {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	max-height: 720px;
	max-width: 1280px;
	min-height: 360px;
	min-width: 640px;
	margin: 0 auto;
}

.event-description {
	position: relative;
	text-align: center;
	padding-bottom: 56px;
}

.event-description > iframe {
	position: absolute;
	width: 100%;
	height: calc(100% - 56px);
	left: 0;
	top: 0;
	right: 0;
	display: none;
}

.event-description > .show-chat {
	display: block;
}

.event-description > p.blurb {
	margin-top: 0;
	text-align: left;
}

.link-wrapper {
	width: calc(100%);
	max-width: 500px;
}

.event-description img {
	max-width: 100%;
	max-height: 160px;
	margin: auto;
}

.event-description > a.clear {
	/* width: 100%; */
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
}

.event-description > .button {
	padding: 10px;
	border-radius: 0;
	margin-top: 10px;
}

.fixed-bottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.button {
	border-radius: 5px;
	color: white;
	font-family: 'Segoe UI';
	font-size: 1em;
	padding: 25px;
	white-space: nowrap;
}

@media all and (min-width: 960px) {
	/* .offevent {
		grid:
			'header header' 50px
			'content sidebar' 1fr
			'footer footer' auto
			/ 1fr 250px;
	} */
	.main-content {
		grid: 'embed about' auto / 2fr 1fr;
	}
}
