<header>
	<a routerLink="/"><img class="logo" src="/assets/images/logo_1200x424.png" /></a>
	<nav>
		<a href="/donate" target="_blank">DONATE</a>
		<a href="/tracker/runs/6">SCHEDULE</a>
		<a href="https://theyetee.com" target="_blank">SHIRTS</a>
		<a href="/tracker/6">TRACKER</a>
		<a routerLink="/rules">EVENT RULES</a>
		<!-- <a routerLink="about">ABOUT</a> -->
	</nav>
</header>
<div class="eventinfo-container">
	<!-- <div class="logo-bg rpglb"></div> -->
	<div class="wrapper">
		<h4 class="title">{{event.name}} benefits <a [href]="event.causeLink" target="_blank">{{event.cause}}</a></h4>
		<div class="donation-container">
			<div>Total Raised:</div>
			<div class="donation-box" id="donation-total">{{event.donations.total | moneify}}</div>
			<div>Donation Goal:</div>
			<div class="donation-box" id="donation-goal">{{event.donations.goal | moneify}}</div>
			<a class="button" href="/donate" target="_blank">❤ DONATE ❤</a>
		</div>
	</div>
	<!-- <div class="logo-bg nami"></div> -->
</div>
<div class="main-content">
	<div class="embed-wrapper">
		<iframe class="embed" src="https://player.twitch.tv/?channel=rpglimitbreak" frameborder="0" scrolling="no" allowfullscreen="true">
		</iframe>
	</div>
	<div class="event-description">
		<iframe [ngClass]="{ 'show-chat': isChatOpen }" frameborder="0" src="https://www.twitch.tv/embed/rpglimitbreak/chat">
		</iframe>
		<p class="blurb">Welcome to RPG Limit Break, a week-long marathon of RPG speedruns (finishing console-style role playing games quickly)! RPGLB is an annual event where attendees come to perform speedruns or support our efforts to raise money for <a [href]="event.causeLink"
			  target="_blank">{{event.cause}}</a>. We also work closely with NAMI to help spread awareness about mental illness and the donation effort.</p>
		<p class="blurb">RPG Limit Break 2018 will run from May 13 - 19th. The event takes place in Salt Lake City, UT, but anyone can watch our live-stream throughout the whole event which runs non-stop from start to finish. Be sure to check out our schedule & donation incentives,
			and please support the cause & spread the word!</p>
		<hr />
		<img src="assets/images/logo_1200x424.png" />
		<p class="title">
			in support of
		</p>
		<a href="https://nami.org" class="clear"><img src="assets/images/nami_long_white.png" /></a>
		<a [ngClass]="{ 'button': true, 'fixed-bottom': true, 'close-chat': isChatOpen }" href="#" (click)="toggleChat($event)">Chat with viewers!</a>
	</div>
</div>
<footer>
	<div class="title">CONTACT</div>
	<span>Email: <a href="mailto:rpglimitbreak@gmail.com">rpglimitbreak@gmail.com</a></span><br>
	<span>Twitter: <a href="https://twitter.com/rpglimitbreak" target="_blank">@RPGLimitBreak</a></span><br>
	<br>
	<span class="dim">Copyright 2018. RPG Limit Break, LLC.</span>
</footer>
