<div class="main-content">
    <div class="embed-wrapper">
        <iframe
            class="embed"
            src="https://player.twitch.tv/?channel=rpglimitbreak&parent=rpglimitbreak.com&parent=www.rpglimitbreak.com&parent=localhost"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true"
        >
        </iframe>
    </div>
    <div class="event-description">
        <iframe
            [ngClass]="{ hide: !isChatOpen }"
            frameborder="0"
            src="https://www.twitch.tv/embed/rpglimitbreak/chat?parent=rpglimitbreak.com&parent=www.rpglimitbreak.com&parent=localhost"
        >
        </iframe>
        <div class="blurb">
            <img
                class="logo-med"
                src="assets/images/logos/LimitBreak-new-logo-01.png"
            />
            <p>
                Welcome to RPG Limit Break, a week-long marathon of RPG
                speedruns! RPGLB is an annual event where attendees come to
                perform speedruns and support our efforts to raise money for
                <a
                    [href]="event?.cause?.url ? event.cause.url : '#'"
                    target="_blank"
                    >{{ event?.cause?.name }}</a
                >. We also work closely with NAMI to help spread awareness about
                mental illness and the donation effort.
            </p>
            <a href="https://nami.org" class="clear no-icon"
                ><img
                    class="logo-small"
                    src="assets/images/nami_long_white.png"
            /></a>
            <p>
                {{ event?.name }} is live
                {{ event?.dates.event.start | date : "MMMM d" }} -
                {{ event?.dates.event.end | date : "d" }}. The event takes place
                in Denver, CO, but anyone can watch our live-stream throughout
                the whole event which runs non-stop from start to finish. Be
                sure to check out our schedule & donation incentives, and please
                support the cause & spread the word!
            </p>
        </div>
        <a
            *ngIf="!isChatOpen"
            mat-raised-button
            color="accent"
            (click)="toggleChat()"
            >Chat with viewers!</a
        >
        <a
            *ngIf="isChatOpen"
            mat-raised-button
            class="fixed-bottom"
            (click)="toggleChat()"
            >Close chat</a
        >
    </div>
    <section class="sponsors">
        <h2 class="title">
            {{ event?.name }} would like to thank the following sponsors
        </h2>
        <div class="sponsor-row">
            <!-- TODO: Don't hardcode sponsors -->
            <a
                href="https://tantrummerch.com/rpglimitbreak/"
                data-sponsor-name="Tantrum"
            ></a>
            <a
                href="https://dragonroast.coffee/"
                data-sponsor-name="DragonRoastCoffee"
            ></a>
        </div>
    </section>
</div>
