@import '~@angular/material/theming';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$rpglb-app-primary: mat-palette( $mat-blue, 700, 500, 900 );
$rpglb-app-accent:  mat-palette( $mat-orange, A400, A200, A700 );

// The warn palette is optional (defaults to red).
$rpglb-app-warn:    mat-palette( $mat-red, 500, 300, 800 );

// Create the theme object (a Sass map containing all of the palettes).
$rpglb-app-theme: mat-dark-theme(
	$rpglb-app-primary,
	$rpglb-app-accent,
	$rpglb-app-warn
);
