:root {
	--color-accent: #16a17b;
	--color-primary: #215ba1;
	--color-text: white;
	--color-link: #5ac2a5;
}

html, body {
	color: var(--color-text);
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}

html {
	width: 100%;
	height: 100%;
}

body {
	background: var(--color-primary);
	display: grid;
	grid:
	'header' 50px
	'eventinfo' auto
	'content' auto
	'footer' auto
	/ 1fr;
	min-height: 100%;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
