@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Import custom theme
@import "rpglb-dark-theme.scss";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rpglb-app-theme);

$primary: map-get($rpglb-app-theme, primary);
$accent: map-get($rpglb-app-theme, accent);
$warn: map-get($rpglb-app-theme, warn);
$foreground: map-get($rpglb-app-theme, foreground);
$background: map-get($rpglb-app-theme, background);

* {
    box-sizing: border-box;
}

html,
body {
    /* color: var(--color-text); */
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;
    height: fit-content;
}

a {
    text-decoration: none;
    color: mat-color($accent, lighter);
}

a:hover {
    text-decoration: underline;
}

.title {
    font-size: 2em;
    font-weight: bold;
    // margin-top: 0;
    text-align: center;
}

.title > a {
    font-weight: bold;
}

.dim {
    color: rgba(255, 255, 255, 0.5);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.msg-status {
    background-color: mat-color($background, card);
    font-size: 0.8em;
    width: fit-content;
    margin: auto;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    text-align: center;
}

.warn {
    color: mat-color($warn);
}

.warn-light {
    color: mat-color($warn, lighter);
}

.success {
    color: mat-color($primary, 200);
}

.info {
    color: mat-color($accent, lighter);
}

.preserve-newlines {
    white-space: pre-line;
}

.snack-success {
    background-color: mat-color($primary);
    color: white;
}

.snack-warn {
    background-color: mat-color($warn);
    color: white;
}

.no-action .mat-simple-snackbar {
    justify-content: center;
}

h1 {
    margin-top: 1em;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.625em;
}

.text-content {
    margin: 0 auto;
    max-width: 80ch;
}
