<div
    style="
        background-color: white;
        color: black;
        margin: 0 -1.5rem;
        padding: 2rem 0;
    "
>
    <div
        style="
            display: grid;
            margin: 2rem auto;
            place-content: center;
            text-align: center;
            max-width: 800px;
            font-family: Roboto, Arial, sans-serif;
        "
    >
        <img
            src="/assets/images/logos/LimitBreak-new-logo-01.png"
            alt="RPG Limit Break logo"
            width="800"
        />
        <h1>Verify your RPGLB account</h1>
        <p>
            Please click the link below to verify the email address associated
            with your account.
        </p>

        <div style="margin: 0 auto; text-align: center">
            <a
                href="#"
                style="
                    display: inline-block;
                    background-color: #1976d2;
                    color: white;
                    padding: 15px 35px;
                    font-size: 1.2rem;
                    text-decoration: none;
                "
                >Verify my email</a
            >
        </div>

        <p>
            If the link above doesn't work, copy and paste the following URL
            into your browser:
        </p>
        <p
            style="
                display: inline-block;
                background: rgb(48, 48, 48);
                padding: 1rem;
                border-radius: 5px;
                color: #ffab40;
            "
        >
            https://rpglimitbreak.com/verify?user=longstringofcharactersasdfjkl&token=longstringofcharactersasdfjkl
        </p>
    </div>
</div>

<hr />

<div
    style="
        background-color: white;
        color: black;
        margin: 0 -1.5rem;
        padding: 2rem 0;
    "
>
    <div
        style="
            display: grid;
            margin: 2rem auto;
            place-content: center;
            text-align: center;
            max-width: 800px;
            font-family: Roboto, Arial, sans-serif;
        "
    >
        <img
            src="/assets/images/logos/LimitBreak-new-logo-01.png"
            alt="RPG Limit Break logo"
            width="800"
        />
        <h1>Password reset requested</h1>
        <p>
            You recently requested a password reset for your account "USERNAME"
            at rpglimitbreak.com. If you did not request a password reset, or if
            you simply forgot your username, no action is needed.
        </p>
        <p>Otherwise, click the link below to reset your password.</p>
        <div style="margin: 0 auto; text-align: center">
            <a
                href="#"
                style="
                    display: inline-block;
                    background-color: #1976d2;
                    color: white;
                    padding: 15px 35px;
                    font-size: 1.2rem;
                    text-decoration: none;
                "
                >Reset password</a
            >
        </div>
        <p>
            If you cannot click the link above, copy and paste the following URL
            into your browser:
        </p>
        <p
            style="
                display: inline-block;
                background: rgb(48, 48, 48);
                padding: 1rem;
                border-radius: 5px;
                color: #ffab40;
            "
        >
            https://rpglimitbreak.com/verify?user=longstringofcharactersasdfjkl&token=longstringofcharactersasdfjkl
        </p>
    </div>
</div>
