<div class="text-content">
    <h1 class="title">Event Rules</h1>
    <h2 id="general">General</h2>
    <ul>
        <li>
            <p>
                Be respectful to others, whether at the event or not, including,
                but not limited to: hotel guests, staff, event attendees, and
                any service providers.
            </p>
        </li>
        <li>
            <p>
                Be sure to read over our
                <a href="https://rpglimitbreak.com/health">Health Policy</a>, if
                you haven't already.
            </p>
        </li>
        <li>
            <p>
                Treat all equipment with respect, including furniture, cables,
                consoles, computers, and anything else that is not your own
                property.
            </p>
        </li>
        <li>
            <p>
                Badges must be worn at all times while at the event. Not only
                worn, but visible at all times.
            </p>
        </li>
        <li>
            <p>
                If your badge is not visible, staff will ask you to show it and
                keep it in sight. Failure to do so will lead to a warning.
            </p>
        </li>
        <li>
            <p>If your badge is lost, report it immediately to staff.</p>
        </li>
        <li>
            <p>
                Sharing badges is not allowed, and will result in immediate
                removal from the event for all parties involved.
            </p>
        </li>
        <li>
            <p>
                No one will be permitted into any marathon areas without a
                badge.
            </p>
        </li>
        <li>
            <p>
                No sleeping in any event spaces. If you need to take a nap,
                please do so in your hotel room. If Staff/Safety Team finds you
                asleep, we will wake you up and ask you to leave the event
                space. In cases where individuals clearly have intent to sleep
                in our event spaces, we may mark or revoke badges at our
                discretion.
            </p>
        </li>
        <li>
            <p>
                Clean daily. If you are a distraction due to odor/appearance,
                you may be asked to leave and clean up before returning. For
                repeat offenses, and/or if it becomes more of a distraction,
                further discipline may be required up to and including being
                removed from the event.
            </p>
        </li>
        <li>
            <p>
                Clean up after yourself and throw away your trash. Be courteous
                to the hotel, event, and community.
            </p>
        </li>
        <li>
            <p>
                Do not touch the prizes without express permission. Some are
                very delicate and multiple handlings may lead to their breaking.
            </p>
        </li>
        <li>
            <p>No advertising or vending at the event.</p>
        </li>
        <li>
            <p>No weapons allowed in the event area whatsoever.</p>
        </li>
        <li>
            <p>
                Anyone bringing weapons into event spaces will be immediately
                removed and barred from further RPGLB attendance.
            </p>
        </li>
        <li>
            <p>All local laws must be followed.</p>
        </li>
        <li>
            <p>Animals are not allowed, except for licensed service animals.</p>
        </li>
    </ul>
    <h2 id="alcohol-and-drug-policy">Alcohol and Drug Policy</h2>
    <ul>
        <li>
            <p>
                There is no alcohol tolerated in any marathon area. All alcohol
                must be kept away from the public area and event. Keep it in
                your room or off-site.
            </p>
        </li>
        <li>
            <p>
                Possession and/or use of illegal/illicit drugs will result in
                immediate removal from the event.
            </p>
        </li>
        <li>
            <p>
                Medical marijuana is restricted to outside the hotel campus.
                Also, proof must be provided beforehand.
            </p>
        </li>
    </ul>
    <h2 id="harassment-policy">Harassment Policy</h2>
    <p>
        RPG Limit Break events have a ZERO TOLERANCE policy in regards to
        harassment of all kinds, including but not limited to:
    </p>
    <ul>
        <li>
            <p>Unwanted physical attention</p>
        </li>
        <li>
            <p>Inappropriate physical touching</p>
        </li>
        <li>
            <p>Physical assault</p>
        </li>
        <li>
            <p>Battery</p>
        </li>
        <li>
            <p>Stalking</p>
        </li>
        <li>
            <p>Intimidation or Bullying</p>
        </li>
        <li>
            <p>Bathroom Policing</p>
        </li>
        <li>
            <p>Harassing photography or recording</p>
        </li>
        <li>
            <p>General disruption of the event</p>
        </li>
    </ul>
    <p>
        Any of these acts in relation to, but not limited to, qualify as
        harassment:
    </p>
    <ul>
        <li>
            <p>Race</p>
        </li>
        <li>
            <p>National origin or descent</p>
        </li>
        <li>
            <p>Gender identity, or presentation</p>
        </li>
        <li>
            <p>Sexual orientation</p>
        </li>
        <li>
            <p>Age</p>
        </li>
        <li>
            <p>Body size or type</p>
        </li>
        <li>
            <p>Disability</p>
        </li>
        <li>
            <p>Religious affiliation</p>
        </li>
        <li>
            <p>Citizenship</p>
        </li>
        <li>
            <p>Pregnancy</p>
        </li>
    </ul>
    <p>
        If a person is found engaging in such behavior RPG Limit Break staff
        will take prompt action to rectify the situation at their discretion
        including removal from the event and possible banishment from attending
        future RPGLB events. EVERYONE in attendance is expected to follow this
        policy at all times and will all be held to the same standards.
    </p>
    <p>
        Please report any forms of harassment to RPG Limit Break staff. We want
        to make our events safe and enjoyable for everyone and if you are the
        subject of or witness harassment please do not hesitate to ask for our
        help in resolving any such situation. Staff members can all be
        identified by their staff event badges, and Safety members can likewise
        be identified by the Safety event badges.
    </p>
    <p>
        With regards to less serious conflicts: if there is a minor conflict or
        issue, then we recommend trying to resolve the problem privately. An
        example of a minor conflict would be if your roommate is snoring loudly,
        or if there is a disagreement on whose turn it is to use a TV. If you
        find yourself unable to resolve a problem on your own, or you do not
        feel comfortable resolving the situation alone, please feel free to
        contact a staff member to assist you.
    </p>
    <h2 id="fooddrink">Food/Drink</h2>
    <ul>
        <li>
            <p>
                Food is not allowed in the stream room, nor the practice room.
                Food will only be allowed in the Hospitality Room at the event.
            </p>
        </li>
        <li>
            <p>
                In the event of a volunteer requiring food during a shift and
                unable due to offered hours by the hotel, arrangements can be
                made in advance with RPGLB staff.
            </p>
        </li>
        <li>
            <p>Unattended food and/or drink will be thrown out immediately.</p>
        </li>
        <li>
            <p>
                Non-Alcoholic drinks are allowed in closed containers or cups
                with lids. Please refrain from open containers in the stream
                room and practice room.
            </p>
        </li>
    </ul>
    <h2 id="practice-room">Practice Room</h2>
    <ul>
        <li>
            <p>
                Attendees with upcoming runs at the event have first priority in
                the practice room.
            </p>
        </li>
        <li>
            <p>
                Do not leave equipment unattended. RPGLB is not responsible for
                lost or stolen equipment. If any equipment is lost or stolen,
                report it immediately, but the staff, nor the event will be
                responsible for replacing or compensating for the equipment.
            </p>
        </li>
    </ul>
    <h2 id="stream-room">Stream Room</h2>
    <ul>
        <li>
            <p>
                Twitch ToS applies to all runs and all people on stream during
                the event, both runners and people in the crowd.
            </p>
        </li>
        <li>
            <p>Do not disrupt the runner without consent.</p>
        </li>
        <li>
            <p>No Flash Photography.</p>
        </li>
        <li>
            <p>
                Do not touch the consoles nor any other equipment that does not
                belong to you, not limited to cables and monitors as this is the
                responsibility of the Tech Crew. If you give permission for your
                equipment to be used during a run, do not disturb the equipment
                outside the parameters of the run.
            </p>
        </li>
        <li>
            <p>
                The work area is off limits to everyone except staff and
                volunteers for the area.
            </p>
        </li>
        <li>
            <p>Runner has final say as to who is on the couch with them…</p>
        </li>
        <li>
            <p>
                Stream behavior needs to be fun but professional. No religious,
                political demonstrations, nor any grandstanding. No
                polarizing/controversial topics allowed.
            </p>
        </li>
        <li>
            <p>
                Religious symbols are not banned, but
                demonstrations/grandstanding is not allowed. You are allowed to
                wear symbols, but do not use the stream as a platform to present
                beliefs.
            </p>
        </li>
        <li>
            <p>
                RPGLB is not an adults only event/channel. Language is to be
                channel appropriate. Inability to control language on stream may
                lead to inability to be represented on the RPGLB channel/event
                in the future. Keep language PG on stream.
            </p>
        </li>
    </ul>
    <p>
        First violation of the rules will result in a minimum of a verbal
        warning, depending on the severity. Further violations may result in
        being asked to leave and being barred from future attendance at RPGLB
        events.
    </p>
    <p>
        Anything that falls outside the rules will be reviewed at the staff’s
        discretion. Staff reserves the right to determine whether it is a
        violation of the event standards.
    </p>
    <h2 id="security-information">Security Information</h2>
    <p>
        Safety will be on site 24/7 so if you have any issue, we will be
        available. If you or somebody else is being harassed, please let RPGLB
        Staff know. You can contact wellsjc, Gramora, or Quistakular for
        harassment or safety concerns.
    </p>
    <h2 id="contact-info">Contact Info</h2>
    <p>Wellsjc</p>
    <ul>
        <li>(678) 953-1314</li>
        <li>Discord: @wellsjc</li>
    </ul>
    <p>Quistakular</p>
    <ul>
        <li>(517) 898-2955</li>
        <li>Discord: @quistakular</li>
    </ul>
    <p>Gramora</p>
    <ul>
        <li>Discord: @gramora</li>
    </ul>
</div>
