<!-- <app-donate-header [event]="event"></app-donate-header> -->
<div class="main-content">
	<div class="event-description">
		<h1 class="title">Event Rules</h1>
		<h2>General</h2>
		<ul>
			<li>Be respectful to others, whether at the event or not, including, but not limited to: hotel guests, staff, event attendees, and any service providers.</li>
			<li>Treat all equipment with respect, including furniture, cables, consoles, computers, and anything else that is not your own property.</li>
			<li>Badges must be worn at all times while at the event. Not only worn, but visible at all times.</li>
			<ul>
				<li>If your badge is not visible, staff will ask you to show it and keep it in sight. Failure to do so will lead to a warning.</li>
				<li>If your badge is lost, report it immediately to staff.</li>
				<li>Sharing badges is not allowed, and will result in immediate removal from the event for all parties involved.</li>
				<li>No one will be permitted into any marathon areas without a badge.</li>
			</ul>
			<li>No sleeping in any event spaces. If you need to take a nap, please do so in your hotel room. If Staff/Enforcement finds you asleep, we will wake you up and ask you to leave the event space. In cases where individuals clearly have intent to sleep in our event spaces, we may mark or revoke badges at our discretion.</li>
			<li>Shower daily. If you smell and are a distraction, you may be asked to leave and clean up before returning. For repeat offenses, and/or If it becomes more of a distraction, further discipline may be required up to and including being removed from the event.</li>
			<li>Clean up after yourself and throw away your trash. Be courteous to the hotel and the event and the community.</li>
			<li>Do not touch the prizes. Some are very delicate and multiple handlings may lead to their breaking. Unless you are displaying it on stream, do not touch the prizes.</li>
			<li>No advertising or vending at the event.</li>
			<li><strong>No weapons allowed in the event area whatsoever.</strong></li>
			<ul>
				<li><strong>Anyone bringing weapons into event spaces will be immediately removed and barred from further RPGLB attendance.</strong></li>
			</ul>
			<li>All local laws must be followed.</li>
			<li>Animals are not allowed, except for licensed service animals.</li>
		</ul>

		<h2>Alcohol and Drug Policy</h2>
		<ul>
			<li>There is no alcohol tolerated in any marathon area. All alcohol must be kept away from the public area and event. Keep it in your room or off-site.</li>
			<li>Possession and/or use of illegal/illicit drugs will result in immediate removal from the event.</li>
			<li>Medical marijuana is restricted to outside the hotel campus. Also, proof must be provided beforehand.</li>
		</ul>

		<h2>Harassment Policy</h2>
		<p>RPG Limit Break events have a ZERO TOLERANCE policy in regards to harassment of all kinds, including but not limited to:</p>
		<ul>
			<li>Unwanted physical attention</li>
			<li>Inappropriate physical touching</li>
			<li>Physical assault</li>
			<li>Battery</li>
			<li>Stalking</li>
			<li>Intimidation or Bullying</li>
			<li>Bathroom Policing</li>
			<li>Harassing photography or recording</li>
			<li>General disruption of the event</li>
		</ul>

		<p>Any of these acts in relation to, but not limited to, qualify as harassment:</p>
		<ul>
			<li>Race</li>
			<li>National origin or descent</li>
			<li>Gender identity, or presentation</li>
			<li>Sexual orientation</li>
			<li>Age</li>
			<li>Body size or type</li>
			<li>Disability</li>
			<li>Religious affiliation</li>
			<li>Citizenship</li>
			<li>Pregnancy</li>
		</ul>

		<p>If a person is found engaging in such behavior RPG Limit Break staff will take prompt action to rectify the situation at their discretion including removal from the event and possible banishment from attending future RPGLB events. EVERYONE in attendance is expected to follow this policy at all times and will all be held to the same standards.</p>
		<p>Please report any forms of harassment to RPG Limit Break staff. We want to make our events safe and enjoyable for everyone and if you are the subject of or witness harassment please do not hesitate to ask for our help in resolving any such situation. Staff members can all be identified by their staff event badges, and Enforcement members can likewise be identified by the enforcement even badges.</p>
		<p>With regards to less serious conflicts: if there is a minor conflict or issue, then we recommend trying to resolve the problem privately. An example of a minor conflict would be if your roommate is snoring loudly, or if there is a disagreement on whose turn it is to use a TV. If you find yourself unable to resolve a problem on your own, or you do not feel comfortable resolving the situation alone, please feel free to contact a staff member to assist you.</p>

		<h2>Food/Drink</h2>
		<ul>
			<li>Food is not allowed in the stream room, nor the practice room. Food will only be allowed in the Hospitality Room at the event.</li>
			<ul>
				<li>In the event of a volunteer requiring food during a shift and unable due to offered hours by the hotel, arrangements can be made in advance with RPGLB staff.</li>
			</ul>
			<li>Unattended food and/or drink will be thrown out immediately.</li>
			<li>Non-Alcoholic drinks are allowed in closed containers or cups with lids. Please refrain from open containers in the stream room and practice room.</li>
		</ul>

		<h2>Practice Room</h2>
		<ul>
			<li>Attendees with upcoming runs at the event have first priority in the practice room.</li>
			<li>Do not leave equipment unattended. RPGLB is not responsible for lost or stolen equipment. If any equipment is lost or stolen, report it immediately, but the staff, nor the event will be responsible for replacing or compensating for the equipment.</li>
		</ul>

		<h2>Stream Room</h2>
		<ul>
			<li>Twitch ToS applies to all runs and all people on stream during the event, both runners and people in the crowd.</li>
			<li>Do not disrupt the runner without consent. Do not bring attention to yourself through actions, nor through appearance. The runner is the focus.</li>
			<li>Do not touch the consoles nor any other equipment that does not belong to you, not limited to cables and monitors as this is the responsibility of the Tech Crew. If you give permission for your equipment to be used during a run, do not touch it until the run is over.</li>
			<li>The work area is off limits to everyone except staff and volunteers for the area.</li>
			<li>Runner has final say as to who is on the couch with them.</li>
			<li>No flash photography as it is a distraction.</li>
			<li>Stream behavior needs to be fun but professional. No religious, political demonstrations, nor any grandstanding. No polarizing/controversial topics allowed.</li>
			<li>Religious symbols are not banned, but demonstrations/grandstanding is not allowed. You are allowed to wear symbols, but not using the stream as a platform to present beliefs.</li>
			<li>RPGLB is not an adults only event/channel. Language is to be channel appropriate. Inability to control language on stream may lead to inability to be represented on the RPGLB channel/event in the future. Keep language PG on stream.</li>
			<li>Acceptable behavior is at RPGLB staff discretion.</li>
		</ul>
		<p>First violation of the rules will result in a minimum of a verbal warning, depending on the severity. Further violations may result in being asked to leave and exempt from future attendance at RPGLB events.</p>
		<p>Anything that falls outside the rules will be reviewed at the staff’s discretion. Staff reserves the right to determine whether it is a violation of the event standards.</p>

		<h2>Security Information</h2>
		<p>Enforcement will be on site 24/7 so if you have any issue, we will be available. If you or somebody else is being harassed, please let RPGLB Staff know. You can contact Brossentia, MetaSigma, Dragondarch, wellsjc, Dyedeme, or Quistakular for harassment or safety concerns. Please note that MetaSigma will not be at the event, but will assist in reaching people.</p>

		<h2>Contact Info</h2>
		<p>
			Brossentia: (435) 994-4753, Discord: @Brossentia<br>
			MetaSigma: (406) 671-1587, Discord: @ᕦ(° Д°)ᕤ MetaSigma<br>
			Dragondarch: (727) 457-1829, Discord: @Dragondarch<br>
			Wellsjc: (678) 953-1314, Discord: @wellsjc<br>
			Dyedeme: (757) 676-2983, Discord: @Dyedeme<br>
			Quistakular: (517) 898-2955
		</p>
	</div>
</div>
